<p>
    C 1 Марта 2024 года запущен дополнительный цех для производства опор освещение. В нем разместился участок, на
    котором осуществляется правка опор освещения, а также участок для хранения готовых опор. Помещение позволило
    оптимизировать производственные процессы и позволило нарастить производство продукции более чем на 30%.
</p>

<div class="flex flex-wrap justify-between">
    <figure class="<%= popupImageClass %> basis-full"> 
        <img src="./61.png" alt="Новый цех по производству опор освещения">
    </figure>
    <figure class="<%= popupImageClass %> basis-[calc(50%-12px)]">
        <img src="./62.png" alt="Участок правки опор в новом цехе">
    </figure>
    <figure class="<%= popupImageClass %> basis-1/2">
        <img src="./63.png" alt="Новый цех по производству опор освещения">
    </figure>
</div>