.nav__link {
  @apply text-base font-ui uppercase no-underline py-5 block px-2; 

  transition: .5s linear;
  position: relative;
  z-index: 1;
}

.nav__menu-links_theme_dark .nav__link {
  @apply text-themewhite;
}