.breadcrumbs {
    @apply flex items-center p-10 mobile:px-5;
}
.breadcrumbs-no-padding {
    @apply flex items-center;
}

.breadcrumbs__link {
    @apply text-primary-accent opacity-50 text-sm font-medium mobile:text-sm mobile:font-normal;
}

.breadcrumbs__list-item {
    display: inline-flex;
    align-items: center;
    
}
.breadcrumbs__list-item::after {
    content: '';
    background-image: url(../../images/svg/breadcrumb-splitter.svg);
    width: .6em;
    height: .6em;
    font-weight: 600;
    display: inline-flex;
    
    margin: 0 2px;
}

.breadcrumbs__list-item:last-of-type::after {
    content: '';
    background: none;
}

.breadcrumbs__list-item:last-of-type .breadcrumbs__link{
    @apply opacity-100;
}