.title {
    font-size: 83px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    @apply text-primary-accent olpc:text-6xl mobile:text-3xl;
}

.title_contact {
    @apply mobile:text-xl;
}


.title_about {
    text-align: left;
    margin-top: 0;
}

.title_md {
    font-size: 82.5px;
    line-height: 1.1;
  
    @apply mx-auto text-primary-accent olpc:text-6xl mobile:text-3xl;
}