.title {
    font-size: 83px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    @apply text-primary-darker olpc:text-6xl mobile:text-3xl;
}

.title_contact {
    @apply mobile:text-xl;
}

.title_md {
    font-size: 74px;
    line-height: 1.1;
    max-width: 1200px;
    @apply mx-auto text-primary-darker olpc:text-6xl mobile:text-3xl;
}