.title {
    font-size: 83px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    @apply text-primary-darker olpc:text-6xl mobile:text-3xl;
}

.title_contact {
    @apply mobile:text-xl;
}