<li class="news-card news-section-mainpage__list-item group ">
    <figure class="news-section-mainpage__image overflow-hidden group-hover:opacity-95">
      <img class="news-card__image w-full h-full object-cover object-center transition-all duration-300 group-hover:scale-105" src="" alt="участие в конкурсе лучший по профессии">
    </figure>
    <div class="pr-24 relative mt-3  h-32 mobile:pr-0"> 
      <p class="news-card__date text-base text-primary-dark absolute top-0 right-0 mobile:relative">formattedDate</p>
      <h3 class="news-card__title pc:text-base mobile:text-sm text-primary-black max-w-[400px] group-hover:text-secondary-darker">title</h3>
      <p class="news-card__intro text-base mobile:text-sm mt-1">intro</p>
    </div>
    <a class="news-card__link" href="#"><span class="absolute top-0 left-0 w-full h-full"></span></a>
  </li>

  