.newscard {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    padding: 30px 20px;
    border-top: 1px solid #010c5cb7;
    border-bottom: 1px solid #010c5cb7;
    @apply mobile:flex mobile:flex-col-reverse mobile:gap-5;
}    

.newscard_active {
    @apply bg-primary-accent;
}


.newscard__numb {
    @apply font-medium text-primary-accent text-xl;
}

.newscard__link {
    @apply hidden text-lg text-center bg-white text-primary-accent rounded-lg w-[calc(25%+20px)] olpc:w-1/2 mt-[50px] ;
}

.newscard__link-mobile {
    @apply mt-5 p-5  text-primary-accent bg-white hidden rounded-lg text-center;
}

.newscard_active .newscard__link {
    @apply block mobile:hidden;
}

.newscard_active .newscard__link-mobile {
    @apply mobile:block;
}

.newscard_active .newscard__numb {
    @apply text-white;
}

.newscard__title {
    max-width: 630px;
    
    @apply text-4xl pc:text-3xl mvpc:text-2xl  font-medium leading-tight text-primary-accent;
}

.newscard_active .newscard__title {
    @apply text-white;
}

.newscard__desc {
    max-width: 445px;
    @apply text-lg mvpc:max-w-2xl mvpc:text-base mt-5 hidden text-white leading-tight;
}

.newscard_active .newscard__desc {
    @apply block;
}

.newscard__image-cont {
    padding: 0 60px 0 30px;
    width: 100%;

    @apply olpc:pl-0 olpc:pr-4;
}

.newscard__image {
    display: none;
}

.newscard_active .newscard__image {
    display: block;
}

.newscard__svg {
    @apply size-9 fill-primary-accent absolute top-[30px] right-[20px];
}

.newscard_active .newscard__svg {
    @apply fill-white rotate-180;
}