.newscard {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    padding: 30px 0;
    border-top: 1px solid #010c5cb7;
}

.newscard__numb {
    @apply font-medium text-primary-accent text-xl;
}

.newscard_active .newscard__numb {
    @apply text-white;
}

.newscard__title {
    max-width: 675px;
    @apply text-4xl leading-tight text-primary-accent;
}

.newscard_active .newscard__title {
    @apply text-white;
}

.newscard__desc {
    max-width: 445px;
    @apply text-lg text-white leading-tight;
}

.newscard__image-cont {
    padding: 0 60px 0 30px;
    width: 100%;
}