@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  article h2 {
    @apply text-4xl my-2;
  }
  article h3 {
    @apply text-2xl my-2;
  }
  article p {
    @apply my-2;
  }

  .product-container table {
    @apply text-gray-700 my-4 table-auto border-collapse;
  }

  .product-container table thead {
    @apply bg-primary-white text-gray-800 text-base mobile:text-sm;
  }

  .product-container table thead tr {
    @apply *:px-5 *:py-4 *:font-medium *:text-left divide-x divide-solid divide-[#1f1f1f];
  }

  .product-container table thead tr th:first-child {
    @apply rounded-s-lg;
  }

  .product-container table thead tr th:last-child {
    @apply rounded-e-lg;
  }

  .product-container table tbody {
    @apply text-base  bg-primary-white  divide-y divide-solid divide-[#1f1f1f]  mobile:text-sm;
  }

  .product-container table tbody tr {
    @apply *:px-5 *:pb-3 *:pt-5  divide-x divide-solid divide-[#1f1f1f];
  }
}

@layer components {
  .up-title {
    @apply text-lg font-semibold uppercase mobile:text-base;
  }
  .section-title {
    @apply text-4xl font-bold uppercase text-primary-white mb-16 mobile:text-2xl;
  }

  .ui-button {
    @apply text-primary-darker p-5 uppercase text-lg border border-primary-darker;
  }

  .main-product-link {
    @apply block h-full p-5 relative pr-14 transition-all duration-300 hover:bg-primary-white;
    
  } 
  .main-product-link__title {
    @apply h-24 font-medium text-primary-darker text-2xl mobile:h-auto;
  }
  .main-product-link__title_category {
    @apply font-bold; 
  }

  .main-product-grid {
    display: grid;
    grid-template-columns: 380px 1fr 1fr 1fr;
    grid-template-rows: 239px;
    grid-auto-rows: 239px;
  }

  @media screen and (max-width: 638px) {
      .main-product-grid {
        grid-auto-rows: auto;
        grid-template-rows: auto ;
      }
  }
 
  .content {
    max-width: 1520px;
    margin-left: auto;
    margin-right: auto;
}

.content_right-orient {
    max-width: calc(760px + 50%);
    margin-left: auto;
    margin-right: 0;
}

}


