<footer class="py-24 grid grid-cols-12 gap-x-5 px-10">
    <div class="col-span-2 col-start-1 content-between">
      <a class="" href="/"><img src="../images/svg/logo-place-footer.svg"></a>
      <p class="text-sm text-primary-lighter">656012, Россия, Алтайский край, г. Барнаул, ул. П.С. Кулагина, 28/11, офис 1</p>
    </div>
    <ul class="col-start-4 col-span-5">
      <li class=" grid grid-cols-4 gap-x-5 pb-5 border-b border-primary">
        <h2 class="text-xl text-themewhite font-ui font-medium">Отдел продаж</h2>
        <div class="pt-[0.35rem]">
          <h3 class="text-sm text-themewhite font-ui font-medium uppercase">Почта</h3>
          <a class="block mt-4 text-lg text-themewhite  font-ui font-medium  col-span-2 justify-self-start" href="mailto:info@ssk.ru">info@ssk.ru</a>
        </div>
        <div class="pt-[0.35rem]">
          <h3 class="text-sm text-themewhite font-ui font-medium uppercase">Номер телефона</h3>
          <a class="text-lg block mt-4  text-themewhite  font-ui font-medium col-span-2 justify-self-start" href="tel:+73852361050">+7 (3852) 36 10 50</a>
          <a class="text-lg block mt-2  text-themewhite  font-ui font-medium col-span-2 justify-self-start" href="tel:+73852361050">+7 (3852) 36 10 50</a>
        </div>
      </li>
      <li class="grid grid-cols-4 gap-x-5 pt-5">
        <h2 class="text-xl  text-themewhite font-ui font-medium">Приемная</h2>
        <div class="pt-[0.35rem] col-start-3">
          <h3 class="text-sm  text-themewhite font-ui font-medium uppercase">Номер телефона</h3>
          <a class="text-lg block mt-4 text-themewhite  font-ui font-medium col-span-2 justify-self-start" href="tel:+73852361050">+7 (3852) 36 10 50</a>
        </div>
      </li>
    </ul>
</footer>

<!--Всплывающее меню-->
<div class="popup popup_closed popup_type_menu popup-menu">
  <div class="popup__container popup__container_menu">
    <button class="popup__button-close popupmenu__button-close"></button>
    <nav class="popup__menu">
      <a class="popup__navlink" href="/">Главная</a>
      <div class="dropdown popup__navlink">
        <input type="checkbox" class="dropdown__checkbox" id="menu-checkbox">
        <label class="dropdown__label" for="menu-checkbox">Продукция</label>
        <ul class="dropdown__list">
          <li class="dropdown__list-item"><a class="popup__navlink popup__navlink_sub" href="<%= ROUTES.sfg %>">Опоры силовые фланцевые граненые</a></li>
          <li class="dropdown__list-item"><a class="popup__navlink popup__navlink_sub" href="<%= ROUTES.spg %>">Опоры силовые прямостоячные граненые</a></li>
          <li class="dropdown__list-item"><a class="popup__navlink popup__navlink_sub" href="<%= ROUTES.nfg %>">Опоры несиловые фланцевые граненые</a></li>
          <li class="dropdown__list-item"><a class="popup__navlink popup__navlink_sub" href="<%= ROUTES.npg %>">Опоры несиловые прямостоячные граненые</a></li>
        </ul>
      </div>
      <a class="popup__navlink" href="<%= ROUTES.about %>">О компании</a>
      <div class="dropdown popup__navlink">
        <input type="checkbox" class="dropdown__checkbox" id="menu-checkbox-1">
        <label class="dropdown__label" for="menu-checkbox-1">Документация</label>
        <ul class="dropdown__list">
          <li class="dropdown__list-item"><a class="popup__navlink popup__navlink_sub" href="<%= ROUTES.techDocs %>">Проектировщикам</a></li>
        </ul>
      </div>
      <a class="popup__navlink" href="<%= ROUTES.contacts %">Контакты</a>
    </nav>
   
  </div>
</div>
