<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>"  rel="canonical" />
</head>

<body class="page bg-themewhite">
  <%= require('html-loader!./inner-metrika.html').default %>
  <header class="border-b border-primary-lighterdouble">
    <%=_.template(require('html-loader!./insets/inner-header.html').default)({ROUTES: ROUTES, 'theme': 'transparent', page: 'default'}) %>
  </header>
  <div class="relative flex ">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="/">Главная</a></li>
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="<%= ROUTES.about %>">О компании</a></li>
    </ul>
  </div>

  <main>
    
    <section class="workflow">
      <div class="content py-20">
        <h2 class="section-title ml-[25%] text-themewhite mobile:ml-0">Производственные процессы</h2>
        <ul class="workflow__list">
          <li class="workflow__card">
            <span class="workflow__card-span">01/</span>
            <h3 class="workflow__card-title">Плазменная резка металла</h3>
            <p class="workflow__card-subhead">Портальная машина термической резки металла с ЧПУ</p>
            <p class="workflow__card-desc">Портальная машина термической резки металла с ЧПУ.</p>
          </li>
          <li class="workflow__card">
            <span class="workflow__card-span">02/</span>
            <h3 class="workflow__card-title">Листогиб</h3>
            <p class="workflow__card-subhead">Гидравлический листогибочный тандемный пресс с ЧПУ</p>
            <p class="workflow__card-desc">Портальная машина термической резки металла с ЧПУ.</p>
          </li>
          <li class="workflow__card">
            <span class="workflow__card-span">03/</span>
            <h3 class="workflow__card-title">Сварка</h3>
            <p class="workflow__card-subhead">Сварочные посты</p>
            <p class="workflow__card-desc">с возможностью выполнения электросварочных работ и сварки в среде защитных газов (СО2, Ar).</p>
          </li>
          <li class="workflow__card">
            <span class="workflow__card-span">04/</span>
            <h3 class="workflow__card-title">Сварка продольного шва</h3>
            <p class="workflow__card-subhead">Автоматизированная портальная установка</p>
            <p class="workflow__card-desc">Автоматизированная портальная установка для сварки (продольный шов) под слоем флюса многогранных опор, круглых и профильных труб диаметром от 60 мм до 550 мм и длиной до 12000 мм.</p>
          </li>
        </ul>
      </div>
    </section>
    <section class="content py-20">
      <h2 class="ml-[50%] font-bold uppercase text-primary-darker text-[32px] max-w-[380px] laptop:ml-0">Мы - производитель <span class="block text-2xl font-normal uppercase">гранёных опор освещения</span></h2>
      <p class="w-[50%] mx-auto mt-6 text-xl indent-[25%] leading-snug laptop:w-full">
        Основная продукция - многогранные металлические опоры освещения всех типов, опоры ЛЭП и контактных сетей, а также комплектующие: фундаменты и закладные элементы под опоры всех типов, кронштейны под светильники. 
      </p>
      <p class="w-[50%] mx-auto text-xl indent-[25%] leading-snug laptop:w-full">
        Станкостальконструкция создано в январе 2020 года на базе Акционерного Общества «Холдинговая Компания «Барнаульский
        Станкостроительный Завод». Наше предприятие специализируется на производстве строительных металлоконструкций.
      </p>
    </section>
    
    <section class="bg-primary-dark mt-20 py-8 relative">
      <figure class="absolute top-0 left-0">
        <img src="<%= require('./images/svg/dec-left-top-white-old.svg')%>" alt="Декор">
      </figure>
      <div class="content content_right-orient pr-10 flex mobile:flex-col">
        <span class="basis-[380px] up-title text-themewhite text-base">Наша команда</span>
        <!-- pl-[calc(8.34%+20px)]-->
        <div class="flex flex-col justify-between">
          <h2 class="section-title text-themewhite mb-8">Стремимся к цели вместе</h2>
          <div>
            <p class="text-lg text-themewhite max-w-[524px] mt-32">
              ООО «Станкостальконструкция» создано в январе 2020 года на базе Акционерного Общества «Холдинговая Компания
              «Барнаульский Станкостроительный Завод». Наше предприятие специализируется на производстве строительных
              металлоконструкций.
            </p>
            
          </div>
          <a class="mt-4 text-themewhite border-2 border-themewhite uppercase p-5 w-1/2 text-center w-full" href="/about/">Наши ценности</a>
        </div>
        <img class="ml-auto" src="<%= require('./images/comt.png')%>" alt="цех по производству металлических граненых конических опор освещения в барнауле">
      </div>
    </section>
  </main>

  <!--FOOTER-->
  <%= _.template(require('html-loader!./insets/inner-footer.html').default)({ROUTES: ROUTES}) %>
</body>
</html>
