<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/"  rel="canonical" />
</head>

<body class="page">
    <%= require('html-loader!./inner-metrika.html').default %>
    <header class="border-b border-primary-lighterdouble">
    <%=_.template(require('html-loader!./insets/inner-header.html').default)({ROUTES: ROUTES, 'theme': 'transparent', page: 'default'}) %>
    </header>
    <div class="relative flex ">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="<%= ROUTES.about %>">О компании</a></li>
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="<%= ROUTES.ourValues %>">Парк оборудования и услуги</a></li>
    </ul>
    </div>
    <main class="py-14 content grid grid-cols-4 gap-5 mt-14 olpc:grid-cols-2 laptop:grid-cols-1 items-start laptop:*:col-start-1 laptop:*:col-span-1">
        <h1 class="up-title up-title_svg">
            Оборудование
        </h1>
        <p class="text-4xl col-span-3 font-semibold uppercase text-primary-accent leading-[1.1] laptop:text-2xl mobile:text-xl mobile:col-span-1">
            Станкостальконструкция обладает уникальным парком оборудования, которое используется для производства граненых опор.
        </p> 
        
        <div class="col-start-2 col-span-1 laptop:col-start-1">
            <p class="text-lg">Мы предлагаем услуги по газо-плазменной резки металла и гибке листового металла.</p>
            <img src="<%= require('./images/uslugi/pl2.png')%>" class="<%= popupImageClass %> cursor-zoom-in w-full mt-4 " alt="Плазменная резка фланцев">
            <div class="flex gap-4 max-w-full">
              <img src="<%= require('./images/uslugi/pl1.png')%>" class="<%= popupImageClass %> cursor-zoom-in w-full min-w-0 mt-4 " alt="Плазменная резка">
              <img src="<%= require('./images/uslugi/gaz1.png')%>" class="<%= popupImageClass %> cursor-zoom-in w-full  min-w-0 mt-4 " alt="Газовая резка">
            </div>
        </div>
        <div class="col-span-1">
            <ul class="workflow__list">
              <li class="card  p-[30px]">
                <h3 class="card__title">Гибка металла на тандемном прессе</h3>
                <p class="workflow__card-desc">Длина 12400 мм</p>
                <p class="workflow__card-desc">Толщина 8 мм</p>
                <p class="workflow__card-desc">Усилие 1000 тонн и раздвижная матрица</p>
                <button class="ui-button <%= ctaButtonClass %>" data-additional="гибку листового металла большого размера">Уточнить детали</button>
              </li>
              <li class="card p-[30px]">
                <h3 class="card__title">Плазменная резка металла</h3>
                <p class="workflow__card-desc">Лист 2000 мм <b>х</b> 12000 мм</p>
                <p class="workflow__card-desc">Техника оборудована ЧПУ-суппортом, с автоматическим отслеживанием высоты</p>
                <button class="ui-button <%= ctaButtonClass %>" data-additional="плазменную резку крупных листов металла">Уточнить детали</button>
              </li>
              <li class="card  p-[30px]">
                <h3 class="card__title">Газовая резка металла с ЧПУ</h3>
                <p class="workflow__card-desc">Лист 2000 мм <b>х</b> 12000 мм</p>
                <p class="workflow__card-desc">Толщина до 150 мм</p>
                <button class="ui-button <%= ctaButtonClass %>" data-additional="газовую резку крупных листов металла">Уточнить детали</button>
              </li>
             
              
            </ul>
          </div>
    
    </main>
    <%= _.template(require('html-loader!./insets/form-section-test.html').default)({title: false}) %>
    <!--POPUPS-->
    <%= require('html-loader!./insets/popups/popupImage.html').default %>
    <!--FOOTER-->
    <%= _.template(require('html-loader!./insets/inner-footer.html').default)({ROUTES: ROUTES}) %>
</body>
</html>
