<!DOCTYPE html>
<html lang="ru" class="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename %>"  rel="canonical" />
</head>
<body class="page bg-primary-darker">
  <%= require('html-loader!./inner-metrika.html').default %>
  <figure class="absolute top-0 left-0 z-0">
    <svg class="w-[233px] h-[164px] olpc:w-[700px] olpc:h-[492px]" viewBox="0 0 700 492" fill="none" xmlns="http://www.w3.org/2000/svg">
      <ellipse cx="289.5" cy="93.5" rx="410.5" ry="398.5" fill="url(#paint0_radial_2_479)"/>
      <defs>
      <radialGradient id="paint0_radial_2_479" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(289.5 93.5) rotate(90) scale(398.5 410.5)">
      <stop stop-color="#4661D9" stop-opacity="0.54"/>
      <stop offset="1" stop-color="#1F2398" stop-opacity="0"/>
      </radialGradient>
      </defs>
      </svg>        
  </figure>
  <header>
    <div class="container mx-auto relative pt-20 olpc:max-w-7xl flex justify-between">
      <a class="" href="/"><img src="<%= require('./images/kupcov-logo.svg')%>" alt="Лого"></a>
      <nav>
        <ul class="flex text-[#8CA0C3] uppercase">
          <li class="mr-8">Блог</li>
          <li class="mr-8">Влог</li>
          <li>Эпилог</li>
        </ul>
      </nav>
      <button class="font-semibold text-xl text-[#8CA0C3]">Запросить референсы</button>
    </div>
  </header>
  <main class="container max-w-[calc(100%-20px)] mx-auto relative pt-20 olpc:max-w-7xl">
    <article class="prose prose-base olpc:prose-lg pc:prose-xl prose-kupcovcom">
      <%= require(`html-loader!./articles/${articleId}/${articleId}.html`).default %>
    </article>
    <div class="blogpage__market">
      
    </div>
  </main>
  <footer class="container mx-auto mt-24 olpc:max-w-7xl py-14 flex justify-between">
    <div>
      <a class="" href="/"><img src="<%= require('./images/kupcov-logo.svg')%>" alt="Лого"></a>
      <ul class="my-5">
        <li><a class="text-lg text-[#92AFC8] font-semibold" href="#">Telegram</a></li>
      </ul>
      <p class="text-base text-primary-light">2024 ООО «Купцов Технологии» </p>
    </div>
    <p class="text-base text-primary-light max-w-sm">
      Lorem ipsum dolor sit amet consectetur. In malesuada et consectetur sapien egestas eleifend cursus vulputate elementum. Aliquet parturient et lorem quam sit non.
    </p>
  </footer>
  <!--FOOTER
  html-loader!./insets/asides/inner-footer.html').default-->
</body>
</html>
