<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/"  rel="canonical" />
</head>

<body class="page bg-themewhite">
  <%= require('html-loader!./inner-metrika.html').default %>
  <header class="border-b border-primary-lighterdouble">
    <%=_.template(require('html-loader!./insets/inner-header.html').default)({ROUTES: ROUTES, 'theme': 'transparent', page: 'default'}) %>
  </header>
  <ul class="breadcrumbs py-10">
    <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="<%= ROUTES.oporyMain %>">Опоры освещения</a></li>
    <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/"><%= h1Title %></a></li>
  </ul>
  <!--new

  <div class="content mt-24 bg-primary-white">
    <div class="pb-10 px-10 flex items-start flex-wrap laptop:flex-col laptop:*:basis-auto laptop:px-4">
        
      <span class="mt-3 up-title up-title_svg basis-[calc(25%-40px)] text-primary-darker mb-20">Опоры освещения</span>
      <h1 class="text-5xl basis-3/4  uppercase text-primary-darker leading-tight font-semibold max-w-[636px] mobile:text-3xl"><%= h1Title %></h1>
     
    </div>
  </div>--> 
  <div class="py-0  overflow-hidden">
    <div class="content flex">
      <span class="mt-3 up-title  basis-1/4 text-primary-darker mb-20"></span>
      <div class="basis-1/2 w-full shrink-0 relative ">
        <figure class="pt-[100%] bg-primary overflow-hidden rounded-lg">
          <svg class="absolute top-0 left-0 fill-themewhite"  width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H120L0 120V0Z" />
          </svg>  
          <svg class="absolute bottom-0 right-0 -scale-100 fill-themewhite" width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0H120L0 120V0Z" />
          </svg>       
               
        </figure>
        <div class="h-[calc(100%-60px)] absolute bottom-0 right-7">
          <img class="h-full w-auto" src="<%= require(`./images/cat-${categoryType}.png`)%>" alt="опора освещения">  
          <ul class="absolute py-2 pb-6 w-full h-full flex flex-col justify-between z-10 top-0 left-0 *:text-sm *:font-medium  *:text-primary-lighterdouble">
            <li class="max-w-[140px]"><%= featsArr[0] %></li>
            <li class="max-w-[170px]"><%= featsArr[1] %></li>
            <li class="max-w-[200px]"><%= featsArr[2] %></li>
          </ul>
        </div>
        <h1 class="absolute bottom-4 left-4 text-6xl uppercase text-themewhite leading-tight font-semibold max-w-[636px] mobile:text-3xl"><%= h1Title %></h1>
      </div>
    </div>

  </div>
  <!--   -->
  <main class="product-container mt-10">
    <div class="content flex justify-center py-10  mobile:flex-col mobile:*:basis-auto">
      
      <div class="basis-2/4 flex flex-col">
        <%= require(`html-loader!./insets/cats/${categoryType}.html`).default %>
        <button class="ui-button mt-10 w-full text-base font-medium <%= ctaButtonClass %> self-start transition-all duration-300 hover:bg-primary-white">Запросить КП на изготовление опоры</button>
      </div>
    </div>

    <section class="content mt-20 flex items-start">
      <span class="basis-1/4 mb-20 text-primary-darker"></span>
      <div class="mb-8 basis-1/2">
        <h2 class="up-title up-title_svg mb-6"><%= h1Title %> нашего производства</h2>
        <ul class="gap-2 py-5 products-list">
          <% tableData.map((oporaData, i) => { %>
            <li class="relative products-list__item py-3 px-6 transition-all duration-300 h-24 hover:h-min group" >
              <h3 class="basis-full max-w-[360px] text-sm text-primary-black mb-3">
                <%= itemAlias %> 
                <span class="whitespace-nowrap text-2xl font-bold"><%= nameGenerator ? nameGenerator(oporaData['P'], oporaData['H'], oporaData['Db']) : oporaData["Name"].split('**').join('') %></span>
              </h3>
              <ul class="pl-3 pb-4 pt-3 text-primary-darker">
              <% Object.keys(tableData[0]).map((i)=> { if (oporaData[i] && i!== 'Name' && i!== 'A' && i!== 'B' && i!== 'd' && i!== 'n' && i!== 'id' && i!== 'Massa' && i!== 'type'   &&  i!== 'H'  && i!== 'P') {%>
                <li class="flex items-end">
                  <h4 class="text-base mr-2 flex basis-1/2"><span class="whitespace-nowrap"><%= techNames[i] %>:</span> <span class="border-b border-dotted block border-primary-lighterdouble basis-full"></span></h4>
                  <p class="text-base basis-1/2"><%= oporaData[i] %></p>
                </li>
              <%}}) %>
                <!--<li>
                  <p class="font-bold my-4"><%= `${gost1}-${oporaData['H']}-${oporaData['Db']}${categoryType === 'sfg' || categoryType === 'spg' ? `-${oporaData['P']}kg` : ''}` %></p>
                </li>-->
              </ul>
              <a href="<%= pathGenerator(oporaData['P'], oporaData['H'], oporaData['Db']) %>">
                <span class="absolute top-0 left-0 w-full h-full"></span>
              </a>
              <svg class=" absolute top-3 right-6 w-8 h-8 fill-primary-lighter group-hover:fill-primary-darker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
              </svg>
            </li>
          <% }); %>
        </ul>
      </div>
    </section>
    <section class="content">
      <h2 class="up-title up-title_svg mb-6  w-3/4 ml-auto">Другие опоры в каталоге</h2>
      <ul class="w-3/4 ml-auto grid grid-cols-4 gap-6">
      <% allCats.map((category) => { %>
        <li class="p-5 mb-3 relative rounded-sm flex flex-col justify-stretch transition-all duration-300 border border-primary-lighterdouble hover:bg-primary-white group mobile:p-2">
          <h3 class="font-semibold text-xl mt-4 mb-2 text-primary-darker mobile:text-base"><%= category.h1 %></h3>
          <a class="" href="<%= category.route %>">
            <span class="inset0"></span>
            Перейти
          </a>
        </li>
      <% }) %>
      </ul>
    </section>
    <section class="content my-20">
      <h2 class="section-title w-3/4 ml-auto text-primary-darker">Как мы работаем</h2>
      <ul class="w-3/4 ml-auto grid grid-cols-4 gap-6 ">
        <li class="flex flex-col rounded-sm">
          <h3 class="up-title up-title_svg items-start leading-snug basis-14 text-primary-darker up-title_svg-primary">Срок изготовления</h3>
          <p class="text-base pl-5">Опоры <%= categoryType === 'sfg' ? 'сфг, окгс' : '' %> в наличии и под заказ</p>
        </li>
        <li class="flex flex-col rounded-sm">
          <h3 class="up-title up-title_svg items-start leading-snug basis-14 text-primary-darker up-title_svg-primary">Изготовление по ГОСТ</h3>
          <p class="text-base pl-5">Без экономии на материалах с точным расчётом <%= categoryType === 'sfg' ? 'силовой флацневой' : '' %> опоры под Ваши потребности</p>
        </li>
        <li class="flex flex-col rounded-sm">
          <h3 class="up-title up-title_svg items-start leading-snug basis-14 text-primary-darker up-title_svg-primary">Цена завода</h3>
          <p class="text-base pl-5">Мы - производитель и рады работать напрямую с заказчиками и дилерами</p>
        </li>
        <li class="flex flex-col rounded-sm">
          <h3 class="up-title up-title_svg items-start leading-snug basis-14 text-primary-darker up-title_svg-primary">Предоставим КП на изготовление</h3>
          <p class="text-base pl-5">В течение 1-2 дней</p>
        </li>
      </ul>
    </section>
    <section class="relative bg-primary-darker">
      <figure class="absolute top-0 left-0">
        <img src="<%= require('./images/svg/dec-left-top-white-old.svg')%>" alt="Декор">
      </figure>
      <div class="content flex pb-28 pt-14 justify-end laptop:flex-col laptop:*:basis-auto laptop:px-2">
        <div class="basis-3/4">
          <h2 class="up-title up-title_svg up-title_svg-white text-themewhite mb-8">Сертификаты на производство опор</h2>
          <ul class="basis-3/4 sert-grid sert-grid_page_main">
            <li class="sert-grid__list-item <%= popupImageClass %>">
              <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-opory-1.png')%>" alt="Сертификат на производство опор освещения">
            </li>
            <li class="sert-grid__list-item <%= popupImageClass %>">
              <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-opory-2.png')%>" alt="Сертификат на производство опор освещения, страница 2">
            </li>
          </ul>
        </div>
      </div>
    </section>
    <%= _.template(require('html-loader!./insets/form-section.html').default)({title: false}) %>
  </main>
  <!--POPUPS-->
  <%= require('html-loader!./insets/popups/popupImage.html').default %>
  <!--FOOTER-->
  <%= _.template(require('html-loader!./insets/inner-footer.html').default)({ROUTES: ROUTES}) %>
</body>
</html>
