<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/"  rel="canonical" />
</head>

<body class="page">
  <%= require('html-loader!./inner-metrika.html').default %>
  <header class="border-b border-primary-lighterdouble">
    <%=_.template(require('html-loader!./insets/inner-header.html').default)({ROUTES: ROUTES, 'theme': 'transparent', page: 'default'}) %>
  </header>
  <ul class="breadcrumbs py-10">
    <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="<%= ROUTES.oporyMain %>">Опоры освещения</a></li>
    <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/"><%= h1Title %></a></li>
  </ul>
  <!--new

  <div class="content mt-24 bg-primary-white">
    <div class="pb-10 px-10 flex items-start flex-wrap laptop:flex-col laptop:*:basis-auto laptop:px-4">
        
      <span class="mt-3 up-title up-title_svg basis-[calc(25%-40px)] text-primary-darker mb-20">Опоры освещения</span>
      <h1 class="text-5xl basis-3/4  uppercase text-primary-darker leading-tight font-semibold max-w-[636px] mobile:text-3xl"><%= h1Title %></h1>
     
    </div>
  </div>--> 
  <h1 class="title content py-[30px] bg-primary-lightup"><%= h1Title %></h1>
  <div class="content flex justify-between h-[70vh] pb-7 px-[220px] mvpc:px-[30px] mobile:px-2 mobile:h-96 bg-primary-lightup">
    <ul class="text-lg mobile:text-sm font-semibold uppercase basis-full text-primary-accent flex flex-col justify-between pt-[96px] pb-[112px] *:border-b *:border-dotted *:border-primary-accent *:pb-2">
      <li class="w-full">
        <p class="max-w-[240px]"><%= featsArr[0] %></p>
      </li>
      <li class="w-full">
        <p class="max-w-[240px]"><%= featsArr[1] %></p>
      </li>
    </ul>
    <img class="h-full w-auto mobile:w-8" src="<%= require(`./images/prod-${categoryType}.png`)%>" alt="опора освещения"> 
    <ul class="text-lg mobile:text-sm  font-semibold uppercase basis-full text-primary-accent flex flex-col justify-between pt-[96px] pb-[112px] *:border-b *:border-dotted *:border-primary-accent *:pb-2">
      <li class="w-full">
        <p class="max-w-[140px] ml-auto  text-right">Горячее цинкование</p>
      </li>
      <li class="w-full">
        <p class="max-w-[340px] ml-auto text-right"><%= featsArr[2] %></p>
      </li>
    </ul>
  </div>

  <!--   -->
  <main class="product-container mt-10">
    <div class="content flex justify-center py-10  mobile:flex-col mobile:*:basis-auto">
      
      <div class="basis-2/4 laptop:basis-full flex flex-col">
        <%= require(`html-loader!./insets/cats/${categoryType}.html`).default %>
       
        <button class="ui-button mt-10 w-1/2 text-base laptop:w-full <%= ctaButtonClass %> self-start transition-all duration-300 hover:bg-primary-white">Запросить КП на изготовление опоры</button>
      </div>
    </div>

    <section class="content mt-20 flex items-center justify-center">
      
      
      <div class="mb-8 basis-[calc(50%)] laptop:basis-full">
        <h2 class="up-title up-title_svg basis-1/4 mb-8 font-medium text-primary-darkerdouble"><%= h1Title %> нашего производства</h2>
        <ul class="gap-2 py-5 products-list">
          <% tableData.map((oporaData, i) => { %>
            <li class="relative products-list__item flex  flex-wrap py-3 px-6 pr-6 transition-all duration-300 h-24 laptop:h-auto laptop:justify-between items-end hover:h-min group" >
              <h3 class="basis-1/2 laptop:basis-full laptop:mb-5 max-w-[360px] text-sm text-primary-darkerdouble ">
                <%= itemAlias %> 
                <span class="whitespace-nowrap text-2xl font-semibold"><%= nameGenerator ? nameGenerator(oporaData['P'], oporaData['H'], oporaData['Db']) : oporaData["Name"].split('**').join('').split(' ').join('') %></span>
              </h3>
              <p class="basis-1/4 laptop:basis-1/2 flex flex-col text-xs text-primary-darkerdouble">
                Высота
                <span class="whitespace-nowrap text-2xl laptop:text-xl font-medium"><%= Number(oporaData['H'])/1000 %> метров</span>
              </p>
              <% if (oporaData['P']) { %>
              <p class="basis-1/4 laptop:basis-1/2 flex flex-col text-xs text-primary-darkerdouble">
                Боковая нагрузка
                <span class="whitespace-nowrap text-2xl laptop:text-xl font-medium"><%= oporaData['P'] %> кг</span>
              </p>
              <% } %>
              <ul class="pl-3 mt-3 pb-4 pt-3 flex flex-col w-3/4 text-primary-darkerdouble laptop:hidden">
              <% Object.keys(tableData[0]).map((i)=> { if (oporaData[i] && i!== 'Name' && i!== 'A' && i!== 'B' && i!== 'd' && i!== 'n' && i!== 'id' && i!== 'Massa' && i!== 'type'   &&  i!== 'H'  && i!== 'P') {%>
                <li class="flex items-end border-b border-primary-darkerdouble border-dashed">
                  <h4 class="text-base mr-2 flex basis-2/3 shrink-0"><%= i %><%= techNames[i] %>:</h4>
                  <p class="text-base basis-1/3"><%= oporaData[i] %> мм</p>
                </li>
              <%}}) %>
                <!--<li>
                  <p class="font-bold my-4"><%= `${gost1}-${oporaData['H']}-${oporaData['Db']}${categoryType === 'sfg' || categoryType === 'spg' ? `-${oporaData['P']}kg` : ''}` %></p>
                </li>-->
              </ul>
              <a href="<%= pathGenerator(oporaData['P'], oporaData['H'], oporaData['Db']) %>">
                <span class="absolute top-0 left-0 w-full h-full"></span>
              </a>
              <svg class="laptop:hidden absolute top-6 right-6 w-8 h-8 fill-primary-accent group-hover:fill-primary-darker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
              </svg>
            </li>
          <% }); %>
        </ul>
      </div>
    </section>
    <section class="content mt-20">
      <h2 class="up-title up-title_svg">Другие опоры в каталоге</h2>
      <ul class="grid grid-cols-4 gap-5 mt-14 olpc:grid-cols-2 mobile:grid-cols-1">
      <% allCats.map((category) => { %>
        <li class="card">
          <a class="card__link" href="<%= category.route %>">
              <h2 class="card__title text-primary-darker"><%= category.h1 %></h2>
              <figure class="card__image-cont">
                  <img class="card__image" src="<%= require(`./images/lpopory/${category.type}.png`)%>" alt="силовая фланцевая граненая опора сфг">
              </figure>
              <!--<svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" >
                  <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>-->    
              <svg class="card__svg fill-primary-accent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                  <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
              </svg>                  
          </a>
        </li>
      <% }) %>
      </ul>
    </section>
   
    <section class="content mt-32 mb-14">
      <h2 class="basis-auto up-title font-bold text-primary-darker up-title_svg">Как мы работаем</h2>
      <ul class="grid grid-cols-4 gap-5 mt-14 olpc:grid-cols-2 mobile:grid-cols-1">
          <li class="card card_how-we-work ">
              <h3 class="uppercase text-xl text-primary-darker font-bold">Срок изготовления</h3>
              <p class="basis-28 card__text text-primary-darker">Опоры <%= categoryType === 'sfg' ? 'сфг, окгс' : '' %> в наличии и под заказ</p>
              <span class="card__number mt-auto">01</span>
          </li>
          <li class="card card_how-we-work ">
              <h3 class="uppercase text-xl text-primary-darker font-bold">Изготовление по ГОСТ</h3>
              <p class="basis-28 card__text text-primary-darker">Без экономии на материалах с точным расчётом <%= categoryType === 'sfg' ? 'силовой флацневой' : '' %> опоры под Ваши потребности</p>
              <span class="card__number mt-auto">02</span>
          </li>
          <li class="card card_how-we-work ">
              <h3 class="uppercase text-xl text-primary-darker font-bold">Цена завода</h3>
              <p class="basis-28 card__text text-primary-darker">Мы - производитель и рады работать напрямую с заказчиками и дилерами</p>
              <span class="card__number mt-auto">03</span>
          </li>
          <li class="card card_how-we-work ">
              <h3 class="uppercase text-xl text-primary-darker font-bold">Предоставим КП на изготовление</h3>
              <p class="basis-28 card__text text-primary-darker">В течение нескольких часов, на типовые в течение часа.</p>
              <span class="card__number mt-auto">04</span>
          </li>
      </ul>
      <div class="flex gap-5 items-start justify-between mt-5">
          <div class="card gap-2 card_how-we-work card_big basis-[calc(50%-10px)]">
              <div class="basis-[calc(50%+10px)] flex flex-col">
                  <h3 class="uppercase text-xl text-primary-darker font-bold">Продукция сертифицирована</h3>
                  <p class="basis-auto card__text card__text_big text-primary-darker">Вся продукция прошла сертификацию.</p>
                  <span class="card__number mt-auto">05</span>
              </div>
              <ul class="basis-1/2 sert-grid sert-grid_lpopory">
                  <li class="sert-grid__list-item sert-grid__list-item_lpopory overflow-hidden <%= popupImageClass %>">
                      <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-opory-1.png')%>" alt="Сертификат на производство опор освещения">
                  </li>
                  <li class="sert-grid__list-item sert-grid__list-item_lpopory overflow-hidden <%= popupImageClass %>">
                      <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-opory-2.png')%>" alt="Сертификат на производство опор освещения, страница 2">
                  </li>
              </ul>
          </div>
      </div>
  </section>
    
    
  </main>
  <%= _.template(require('html-loader!./insets/form-section-test.html').default)({title: false}) %>
  <!--POPUPS-->
  <%= require('html-loader!./insets/popups/popupImage.html').default %>
  <!--FOOTER-->
  <%= _.template(require('html-loader!./insets/inner-footer.html').default)({ROUTES: ROUTES}) %>
</body>
</html>
