<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/"  rel="canonical" />
</head>

<body class="page bg-themewhite">
  <%= require('html-loader!./inner-metrika.html').default %>
  <header class="border-b border-primary-lighterdouble">
    <%=_.template(require('html-loader!./insets/inner-header.html').default)({ROUTES: ROUTES, 'theme': 'transparent', page: 'default'}) %>
  </header>
  
  <!--new-->

  <div class="content mt-24 bg-primary-white">
    <div class="pb-10 px-10 flex items-start flex-wrap laptop:flex-col laptop:*:basis-auto laptop:px-4">
      <div class="relative flex basis-full mb-20">
        <ul class="breadcrumbs-no-padding py-10">
            <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="<%= ROUTES.oporyMain %>">Опоры освещения</a></li>
            <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/"><%= h1Title %></a></li>
        </ul>
      </div>    
      <span class="mt-3 up-title up-title_svg basis-[calc(25%-40px)] text-primary-darker mb-20">Опоры освещения</span>
      <h1 class="text-5xl basis-3/4  uppercase text-primary-darker leading-tight font-semibold max-w-[636px] mobile:text-3xl"><%= h1Title %></h1>
      <!--<h1 class="text-[70px] uppercase text-center text-primary-darker font-bold max-w-[836px] mx-auto mobile:text-4xl"><%= h1Title %></h1>
        
      <p class="mx-auto max-w-[836px] text-center text-xl mt-6">Общепринятые обозначения: опоры сфг, опоры огк, опоры огкс</p>-->
    </div>
  </div>

  <!--   -->
  <main class="product-container mt-10">
    <div class="content flex justify-center py-10  mobile:flex-col mobile:*:basis-auto">
      <div class="shrink-0 basis-[calc(25%-8px)] h-screen relative">
          <img class="h-full w-3/4" src="<%= require(`./images/cat-${categoryType}.png`)%>" alt="опора освещения">
          <ul class="absolute py-4 pb-8 w-full h-full flex flex-col justify-between z-10 top-0 left-0 *:text-lg *:font-medium *:bg-themewhite  *:text-primary-darkerdouble">
            <li class="max-w-[140px]"><%= featsArr[0] %></li>
            <li class="max-w-[200px]"><%= featsArr[1] %></li>
            <li class="max-w-[230px]"><%= featsArr[2] %></li>
          </ul>
      </div>
      <div class="basis-2/4 flex flex-col">
        <%= require(`html-loader!./insets/cats/${categoryType}.html`).default %>
        <button class="ui-button text-base font-medium <%= ctaButtonClass %> mt-auto self-start transition-all duration-300 hover:bg-primary-white">Запросить КП на изготовление опоры</button>
      </div>
    </div>

    <section class="content mt-20 flex items-start">
      <h2 class="up-title up-title_svg basis-1/4 mb-20 text-primary-darker">Опоры</h2>
      <ul class="gap-2 py-8 mb-8 basis-3/4 content *:before:h-8 *:before:w-[calc(100%+32px)] *:before:overflow-hidden *:before:skew-x-[-45deg] *:before:absolute *:before:-top-4 *:before:left-0 *:before:bg-primary-white *:after:bg-primary-white even:*:bg-primary-lighterdouble even:*:before:bg-primary-lighterdouble even:*:after:bg-primary-lighterdouble odd:*:bg-primary-white mobile:grid-cols-1 overflow-hidden last:after:h-8 *:last:after:w-[calc(100%+32px)] *:last:after:overflow-hidden *:last:after:skew-x-[45deg] *:last:after:absolute *:last:after:-bottom-4 *:last:after:left-0">
        <% tableData.map((oporaData, i) => { %>
          <li class="relative py-3 px-6 transition-all duration-300 h-24 hover:h-min group" >
            <h3 class="basis-full max-w-[420px] text-sm text-primary-black mb-3">
              <%= itemAlias %> 
              <span class="whitespace-nowrap text-2xl font-bold"><%= oporaData["Name"].split('**').join('') %></span>
            </h3>
            <ul class="pl-3 pb-4 pt-3 text-primary-darker">
            <% Object.keys(tableData[0]).map((i)=> { if (oporaData[i] && i!== 'Name' && i!== 'A' && i!== 'B' && i!== 'd' && i!== 'n' && i!== 'id' && i!== 'Massa' && i!== 'type'   &&  i!== 'H'  && i!== 'P') {%>
              <li class="flex items-end">
                <h4 class="text-base mr-2 flex basis-1/2"><span class="whitespace-nowrap"><%= techNames[i] %>:</span> <span class="border-b border-dotted block border-primary-lighterdouble basis-full"></span></h4>
                <p class="text-base basis-1/2"><%= oporaData[i] %></p>
              </li>
            <%}}) %>
              <!--<li>
                <p class="font-bold my-4"><%= `${gost1}-${oporaData['H']}-${oporaData['Db']}${categoryType === 'sfg' || categoryType === 'spg' ? `-${oporaData['P']}kg` : ''}` %></p>
              </li>-->
            </ul>
            <a href="<%= `${ROUTES[categoryType]}${gost1}-${oporaData['H']}-${oporaData['Db']}${categoryType === 'sfg' || categoryType === 'spg' ? `-${oporaData['P']}kg` : ''}`%>.html">
              <span class="absolute top-0 left-0 w-full h-full"></span>
            </a>
            <svg class=" absolute top-3 right-6 w-8 h-8 fill-primary-lighter group-hover:fill-primary-darker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
            </svg>
          </li>
        <% }); %>
      </ul>
    </section>
   
    <section class="relative bg-primary-darker">
      <figure class="absolute top-0 left-0">
        <img src="<%= require('./images/svg/dec-left-top-white-old.svg')%>" alt="Декор">
      </figure>
      <div class="content flex pt-36 mb-24 laptop:flex-col laptop:*:basis-auto laptop:px-2">
        <h2 class="basis-1/4 up-title text-themewhite text-base mb-8">Наши преимущества</h2>
        <div class="basis-3/4 ">
          <h3 class="section-title">Как мы работаем?</h3>
          <ul class="*:min-h-32 grid grid-cols-3 gap-x-5 gap-y-20 text-themewhite laptop:grid-cols-2 laptop:*:min-h-0 laptop:gap-x-2 mobile:grid-cols-1 ">
            <li class="flex flex-col justify-between rounded-sm">
              <h3 class="text-2xl font-bold max-w-xs">Выгодные условия для дилеров</h3>
              <p class="text-lg">Гибкая система % скидок</p>
            </li>
            <li class="flex flex-col justify-between rounded-sm">
              <h3 class="text-2xl font-bold max-w-xs">Предоставим КП на изготовление</h3>
              <p class="text-lg">В течение 1-2 дней</p>
            </li>
            <li class="flex flex-col justify-between rounded-sm">
              <h3 class="text-2xl font-bold max-w-xs">Срок изготовления</h3>
              <p class="text-lg">Опоры <%= categoryType === 'sfg' ? 'сфг, окгс' : '' %> в наличии и под заказ</p>
            </li>
            <li class="flex flex-col justify-between rounded-sm">
              <h3 class="text-2xl font-bold max-w-xs">Цена завода</h3>
              <p class="text-lg">Мы - производитель и рады работать напрямую с заказчиками и дилерами</p>
            </li>
            <li class="flex flex-col justify-between rounded-sm">
              <h3 class="text-2xl font-bold max-w-xs">Изготовление по ГОСТ</h3>
              <p class="text-lg">Без экономии на материалах с точным расчётом <%= categoryType === 'sfg' ? 'силовой флацневой' : '' %> опоры под Ваши потребности</p>
            </li>
          </ul>
        </div>
        
      </div>
      <div class="content flex pb-32 laptop:flex-col laptop:*:basis-auto laptop:px-2">
        <h2 class="basis-1/4 up-title text-themewhite text-base mb-8">Сертификаты</h2>
        <ul class="basis-3/4 sert-grid ">
          <li class="sert-grid__list-item <%= popupImageClass %>">
            <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-opory-1.png')%>" alt="Сертификат на производство опор освещения">
          </li>
          <li class="sert-grid__list-item <%= popupImageClass %>">
            <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-opory-2.png')%>" alt="Сертификат на производство опор освещения, страница 2">
          </li>
        </ul>
      </div>
    </section>
    <%= _.template(require('html-loader!./insets/form-section.html').default)({title: false}) %>
  </main>
  <!--POPUPS-->
  <%= require('html-loader!./insets/popups/popupImage.html').default %>
  <!--FOOTER-->
  <%= _.template(require('html-loader!./insets/inner-footer.html').default)({ROUTES: ROUTES}) %>
</body>
</html>
