<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/"  rel="canonical" />
</head>

<body class="page">
  <%= require('html-loader!./inner-metrika.html').default %>
  <header class="border-b border-primary-lighterdouble">
    <%=_.template(require('html-loader!./insets/inner-header.html').default)({ROUTES: ROUTES, contacts: contactsData, 'theme': 'transparent', page: 'default'}) %>
  </header>
  <div class="relative flex ">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="/">Главная</a></li>
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="<%= ROUTES.fundamenty %>">Фундаменты</a></li>
    </ul>
  </div>
  <main class="py-14 content flex mobile:flex-col mobile:*:basis-auto">
    <figure class="basis-1/4 flex justify-center items-start">
        <img src="<%= require('./images/fund-sfg.png')%>" alt="фундамент к силовой фланцевой опоре">
    </figure>
    <div class="basis-3/4">
        <h1 class="text-5xl font-bold uppercase text-primary-darker">Фундаменты под опоры</h1>
        <p class="text-primary-darker text-xl max-w-[66.6%] laptop:max-w-full mt-10 mb-5">Условно фундаменты можно разделить на две категории:</p>
        <ul class="">
            <li>
                <h2 class="text-2xl text-primary-darker max-w-[66.6%] laptop:max-w-full">Фундаменты под силовые фланцевые опоры</h2>
                <!--<p class="text-primary-darker text-xl max-w-[66.6%] laptop:max-w-full my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate neque quasi iure excepturi, sit dolor aut quia maxime sed, repellat repudiandae rerum alias aspernatur commodi, cumque modi ipsum distinctio! Iste?</p>-->
            </li>
            <li class="mt-10">
                <h2 class="text-2xl text-primary-darker max-w-[66.6%] laptop:max-w-full">Фундаменты под несиловые фланцевые опоры</h2>
                <!--<p class="text-primary-darker text-xl max-w-[66.6%] laptop:max-w-full my-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate neque quasi iure excepturi, sit dolor aut quia maxime sed, repellat repudiandae rerum alias aspernatur commodi, cumque modi ipsum distinctio! Iste?</p>-->
            </li>
        </ul>
        <p class="text-primary-darker text-xl max-w-[66.6%] laptop:max-w-full my-10">
            Фундаменты могут также быть как прямые, так и Г-образные. Мы производим все виды фундаментов и закладных элементов
            под разные типы силовых и несиловых фланцевых круглых и граненых опор.Изготовим конструкцию по предоставленным
            чертежам.
        </p>
        <p class="text-primary-darker text-xl max-w-[66.6%] laptop:max-w-full mt-3">
            В качестве антикоррозийного покрытия может применяться горячий цинк, грунт или битумная мастика.
        </p>
    </div>
  </main>
  <%= _.template(require('html-loader!./insets/form-section-test.html').default)({title: false}) %>
  <!--FOOTER-->
  <%= _.template(require('html-loader!./insets/inner-footer.html').default)({ROUTES: ROUTES, contacts: contactsData}) %>
</body>
</html>
