<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>"  rel="canonical" />
</head>
<body class="page bg-themewhite">
  <%= require('html-loader!./inner-metrika.html').default %>
  <main>
    <%= sfdsdd(2,4) %>
    <div class="burton bg-top relative h-screen border-themewhite border-8">

      <div class="relative z-[3] mvpc:bg-themewhite mobile:bg-transparent">
        <%=  _.template(require('html-loader!./insets/inner-header.html').default)({ROUTES: ROUTES, theme: 'transparent' , page: 'main'}) %>
        <figure class="absolute -top-3 right-0 left-[50%] pc:w-[810px] mvpc:hidden -translate-x-1/2 mx-auto">
          <img src="<%= require('././images/svg/bg-header-page-main.svg')%>" alt="Декор">
        </figure>
      </div>
      <div class="content relative z-[2] flex flex-col pc:justify-end pb-20 h-[90%] mobile:px-5 mobilesm:px-1">
        <span class="block text-[90px] text-center mt-72 uppercase font-bold text-white pc:my-0 pc:text-[70px] pc:text-center pc:*:text-[80px] mvpc:text-7xl mvpc:*:text-8xl mobile:mt-32 mobile:*:text-2xl mobile:text-xl mobilesm:*:text-xl mobilesm:text-lg"><span class="text-8xl">С</span>танко<span class="text-8xl">С</span>таль<span class="text-8xl">К</span>онструкция</span>
        <h1 class="w-1/2 ml-[50%]  mt-5 text-4xl lowercase text-primary-white ident *:first-line:max-w-16 max-w-xs pc:text-3xl pc:max-w-[290px] mvpc:text-3xl mobile:w-full mobile:ml-0 mobile:text-2xl">Завод по производству опор освещения</h1>
        <ul class="flex w-1/2 basis-full pc:basis-1/3 mobile:w-full mobile:flex-col mobile:*:basis-auto">
          <li class="basis-1/2 mt-auto w-full">
            <a class="bem__link bem__link_download block text-center text-base font-medium text-primary-darkerdouble uppercase py-5 bg-[#F5F5F5] bg-opacity-85 rounded-sm border border-[#797979] mobile:py-3" href="<%= ROUTES.priceFile %>" download>Скачать прайс</a>
          </li>
          <li class="basis-1/2  mt-auto w-full ml-5 mobile:ml-0 mobile:mt-4">
            <a class="bem__link bem__link_newwindow block text-center text-base font-medium text-primary-darkerdouble uppercase py-5 bg-[#F5F5F5] bg-opacity-85 rounded-sm border border-[#797979] mobile:py-3" href="<%= ROUTES.catalog %>">Смотреть каталог</a>
          </li>
        </ul>
      </div>
    </div>
    
    <section class="bg-themewhite">
      <h2 class="section-title text-center mt-16 mb-5 text-primary-darker">Наша продукция</h2>
      <div class="flex justify-end px-10 py-24 mobile:px-5">
        <figure class="basis-1/4">
          <img class="mx-auto sticky top-2" src="<%= require('./images/main-opora.png')%>" alt="гранёная опора освещения силовая фланцевая с фундаментом и кронштейном под светильник">
        </figure>
        <ul class="basis-[calc(50%+380px)] main-product-grid *:border-primary-lighter mobile:grid-cols-1 mobile:*:row-start-auto mobile:*:col-start-auto">
          <li class="border-r border-b">
            <a class="main-product-link pb-11" href="<%= ROUTES.brackets %>">
              <h3 class="main-product-link__title main-product-link__title_category">Кронштейны под светильники</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[450px]">Кронштейны под консольные светильнии. Изготавливаются как на железобетонные опоры, так и на многогранные и круглые металлические</p>
              <figure class="absolute top-5 right-5">
                <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
          <li class="row-start-2 row-span-2 border-r border-b">
            <a class="main-product-link pb-11" href="<%= ROUTES.oporyMain %>">
              <h3 class="main-product-link__title main-product-link__title_category">Опоры силовые</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[450px]">С возможностью подвески СИП, усиленным фланцем и повышенной толщиной металла опоры</p>
              <figure class="absolute top-5 right-5">           
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
          <li class="row-start-2 col-start-2 border-r border-t border-b">
            <a class="main-product-link" href="<%= ROUTES.sfg %>">
              <h3 class="main-product-link__title">Опоры СФГ</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[300px]">Опоры силовые фланцевые граненые с закладным фундаментом</p>
              <figure class="absolute top-5 right-5">
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
          <li class="row-start-2 col-start-3 border-b">
            <a class="main-product-link" href="<%= ROUTES.spg %>">
              <h3 class="main-product-link__title">Опоры СПГ</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[300px]">Опоры силовые прямостоечные граненые без закладного фундамента</p>
              <figure class="absolute top-5 right-5">
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
          <li class="row-start-3 col-start-2 border-b  border-r">
            <a class="main-product-link" href="<%= ROUTES.nfg %>">
              <h3 class="main-product-link__title">Опоры ОГКС</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[300px]">Силовая модификация опоры ОГК</p>
              <figure class="absolute top-5 right-5">
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
          <li class="row-start-4 row-span-2 border-r border-b">
            <a class="main-product-link pb-11" href="<%= ROUTES.oporyMain %>">
              <h3 class="main-product-link__title main-product-link__title_category">Опоры несиловые</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[450px]">Без возможности подвески СИП, облегченная конструкция силовой опоры</p>
              <figure class="absolute top-5 right-5">           
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
          <li class="row-start-4 border-r border-b">
            <a class="main-product-link" href="<%= ROUTES.nfg %>">
              <h3 class="main-product-link__title">Опоры НФГ</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[300px]">Опоры несиловые фланцевые граненые</p>
              <figure class="absolute top-5 right-5">
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
          <li class="row-start-4 border-b">
            <a class="main-product-link" href="<%= ROUTES.nfg %>">
              <h3 class="main-product-link__title">Опоры НПГ</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[300px]">Опоры несиловые прямостоечные граненые</p>
              <figure class="absolute top-5 right-5">
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
          <li class="row-start-5 ">
            <a class="main-product-link" href="<%= ROUTES.nfg %>">
              <h3 class="main-product-link__title">Опоры ОГК</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[300px]">Опоры несиловые граненые конические</p>
              <figure class="absolute top-5 right-5">
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
          <!--<li class="col-span-2 border-r border-b">
            <a class="main-product-link pb-11" href="<%= ROUTES.machty %>">
              <h3 class="main-product-link__title main-product-link__title_category">Высокомачтовые опоры</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[450px]">Lorem ipsum dolor sit amet consectetur. At cursus donec at odio tellus eget rhoncus tristique.</p>
              <figure class="absolute top-5 right-5">
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
          <li class="">
            <a class="main-product-link" href="<%= ROUTES.machty %>">
              <h3 class="main-product-link__title">Мачты со стационарной короной</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[300px]">Lorem ipsum dolor sit amet consectetur. At cursus donec at odio tellus eget rhoncus tristique.</p>
              <figure class="absolute top-5 right-5">
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
          <li class="border-r">
            <a class="main-product-link" href="<%= ROUTES.machty %>">
              <h3 class="main-product-link__title">Мачты с мобильной короной</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[300px]">Lorem ipsum dolor sit amet consectetur. At cursus donec at odio tellus eget rhoncus tristique.</p>
              <figure class="absolute top-5 right-5">
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
          <li class="border-r">
            <a class="main-product-link" href="<%= ROUTES.machty %>">
              <h3 class="main-product-link__title">Молниеотводы на базе граненых мачт</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[300px]">Lorem ipsum dolor sit amet consectetur. At cursus donec at odio tellus eget rhoncus tristique.</p>
              <figure class="absolute top-5 right-5">
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>-->
          <li class="row-start-6 border-r border-t">
            <a class="main-product-link  pb-11" href="<%= ROUTES.fundamenty %>">
              <h3 class="main-product-link__title main-product-link__title_category">Фундаменты под опоры</h3>
              <p class="mt-6 text-base text-secondary-darker  max-w-[450px]">Производим все виды фундаментов и закладных элементов под разные типы силовых и несиловых фланцевых круглых и граненых опор. Прямые и Г-образные.</p>
              <figure class="absolute top-5 right-5">
                  <img src="<%=require('./images/svg/page-main-arrow-product.svg')%>" alt="подробнее">
              </figure> 
            </a>
          </li>
      </ul>
    </div>
    </section>
    <section class="bg-primary-darker relative  mobile:px-5 mobile:py-10">
      <figure class="absolute top-0 left-0 pc:-translate-y-[50%]">
        <img src="<%= require('./images/svg/dec-left-top-white-old.svg')%>" alt="Декор">
      </figure>
      <div class="content  content_right-orient flex mobile:flex-col mobile:max-w-full mobile:*:basis-auto ">
        <span class="self-start up-title up-title_svg up-title_svg-white text-themewhite basis-[calc(var(--content-width)/4)] shrink-0 mt-20">О компании</span>
        <div class="basis-[582px] pc:basis-full  pt-20 pb-16 flex flex-col justify-between">
          <h2 class="section-title text-themewhite mb-8">Завод по производству металлических опор</h2>
          <div>
            <p class="text-lg text-themewhite max-w-[524px] mobile:text-base">
              ООО «Станкостальконструкция» создано в январе 2020 года на базе Акционерного Общества «Холдинговая Компания
              «Барнаульский Станкостроительный Завод». Наше предприятие специализируется на производстве строительных
              металлоконструкций.
            </p>
            <p class="text-lg text-themewhite mt-5 max-w-[524px] pc:hidden mobile:text-base mobile:block">
              Основная продукция - многогранные металлические опоры освещения всех типов, опоры ЛЭП и контактных сетей, а также,
              комплектующие: фундаменты и закладные элементы под опоры всех типов, кронштейны под светильники, металлооснастка.
            </p>
          </div>
          <a class="mt-12 text-themewhite border border-themewhite uppercase p-5 max-w-[380px] w-full text-center transition-all duration-300 hover:bg-primary-white hover:bg-opacity-20" href="<%= ROUTES.about %>">Узнать больше</a>
        </div>
        <figure class="basis-[689px] pc:basis-full  min-w-0 ml-auto relative after:transition-all after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-primary-dark after:bg-opacity-35 after:z-[1] hover:after:bg-opacity-20">
          <img class="w-full h-full object-cover object-center" src="<%= require('./images/about-view-test.png')%>" alt="цех по производству металлических граненых конических опор освещения в барнауле">
          <div class="svg-plus-in absolute z-[2] top-1/4 left-1/4 group flex items-center">
            <svg class="group-hover:-rotate-45 group-hover:fill-primary-dark group-hover:stroke-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.1" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>            
            <p class="text-sm w-36 p-3 bg-themewhite rounded-sm border border-primary invisible group-hover:visible">Гидравлический тандемный пресс</p>              
          </div>
          <div class="svg-plus-in absolute z-[2] bottom-1/2 right-1/4 group flex items-center flex-row-reverse">
            <svg class="group-hover:-rotate-45 group-hover:fill-primary-dark group-hover:stroke-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.1" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>            
            <p class="text-sm w-36 p-3 bg-themewhite rounded-sm border border-primary invisible relative translate-x-[50%] group-hover:visible group-hover:translate-x-[0]">Автоматическая сварка шва</p>              
          </div>
          <div class="svg-plus-in absolute z-[2] bottom-1/4 right-1/4 group flex items-center">
            <svg class="group-hover:-rotate-45 group-hover:fill-primary-dark group-hover:stroke-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.1" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>            
            <p class="text-sm w-36 p-3 bg-themewhite rounded-sm border border-primary invisible group-hover:visible">Заготовки готовой продукции</p>              
          </div>
        </figure>
      </div>
    </section>
    <section class="items-start relative content content_right-orient flex my-20 pr-10 mobile:flex-col mobile:px-0 mobile:*:basis-auto">
      <span class="up-title up-title_svg text-primary-darker basis-[calc(var(--content-width)/4)] shrink-0 mobile:mb-20">События</span>
      <div class="basis-full">
        <h2 class="section-title text-primary-darker mobile:mb-8">Новости производства</h2>
        <ul class="news-section-mainpage">
          <% newsData.slice(0,3).map((i, index) => { %>
            <li class="news-section-mainpage__list-item group">
              <figure class="news-section-mainpage__image overflow-hidden group-hover:opacity-80">
                <img class="w-full h-full object-cover object-center transition-all duration-300 group-hover:scale-110" src="<%=canonicalURL%>/api-images/<%= i.textId %>/poster.png" alt="участие в конкурсе лучший по профессии">
              </figure>
              <div class="pr-24 relative mt-3">
                <p class="text-base absolute top-0 right-0 mobile:relative"><%= i.formattedDate %></p>
                <h3 class=" text-primary-black <%= index === 0 ? 'text-2xl font-bold' :'text-lg' %> max-w-[400px] group-hover:text-secondary-darker"><%= i.title %></h3>
                <p class="text-base mt-1 <%= index !== 0 ? 'hidden' : '' %>"><%= i.intro %></p>
                
              </div>
              <a href="<%= i.isStaticPage %>"><span class="absolute top-0 left-0 w-full h-full"></span></a>
            </li>
          <% }) %>
        </ul>
      </div>
      <nav class="absolute bottom-7 right-10 mobile:bottom-auto mobile:top-28 mobile:right-0">
        <button class="mr-2 news-section__button-left">
          <svg class="w-9 h-9 transition-all stroke-secondary-dark hover:stroke-secondary-lighter" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
          </svg>          
        </button>
        <button class="news-section__button-right">
          <svg class="w-9 h-9 transition-all stroke-secondary-dark hover:stroke-secondary-lighter" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>          
        </button>
      </nav>  
    </section>
    <section class="relative bg-primary-darker">
      <!--<figure class="absolute top-0 left-0  pc:-translate-y-[50%]">
        <img src="<%= require('./images/svg/dec-left-top-white.svg')%>" alt="Декор">
      </figure>-->
     
      <div class="content flex py-24 justify-end mobile:flex-col mobile:*:basis-auto mobile:pb-12">
        <h2 class="self-start basis-1/4 up-title up-title_svg up-title_svg-white text-themewhite shrink-0 mb-20">Документы</h2>
        <div class="basis-3/4 mobile:basis-full">
            <h3 class="section-title font-semibold mb-16">Сертификаты</h3>
            <ul class="sert-grid sert-grid_page_main">
              <li class="sert-grid__list-item <%= popupImageClass %>">
                <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-vmo.png')%>" alt="Сертификат на производство высокомачтовых опор освещения">
              </li>
              <li class="sert-grid__list-item <%= popupImageClass %>">
                <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-opory-1.png')%>" alt="Сертификат на производство опор освещения">
              </li>
              <li class="sert-grid__list-item <%= popupImageClass %>">
                <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-opory-2.png')%>" alt="Сертификат на производство опор освещения, страница 2">
              </li>
            </ul>
            <h3 class="section-title font-semibold mb-4 mt-16">Для проектировщиков</h3>
            <ul class="mt-5">
              <li>
                <a href="<%= ROUTES.oprosniiFile %>" class="link-beauty flex w-full text-xl text-themewhite justify-between border-b border-primary-lighter pt-7 pb-4" download>
                    Опросный лист для подбора опоры освещения
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 shrink-0">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>
                </a>
            </li>
              <li>
                  <a href="<%= ROUTES.stoFile %>" class="link-beauty flex w-full text-xl text-themewhite justify-between border-b border-primary-lighter pt-7 pb-4" download>
                      СТО для проектных организаций
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 shrink-0">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                      </svg>
                  </a>
              </li>
              <li>
                <a href="<%= ROUTES.priceFile %>" class="link-beauty flex w-full text-xl text-themewhite justify-between border-b border-primary-lighter pt-7 pb-4" download>
                    Прайс-лист
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <%= _.template(require('html-loader!./insets/form-section.html').default)({title: false}) %>
  </main>
  <!--POPUPS-->
  <%= require('html-loader!./insets/popups/popupImage.html').default %>
  <!--FOOTER-->
  <%= _.template(require('html-loader!./insets/inner-footer.html').default)({ROUTES: ROUTES}) %>
  <template id="news-template">
    <li class="news-card news-section-mainpage__list-item group ">
      <figure class="news-section-mainpage__image overflow-hidden group-hover:opacity-95">
        <img class="news-card__image w-full h-full object-cover object-center transition-all duration-300 group-hover:scale-105" src="" alt="участие в конкурсе лучший по профессии">
      </figure>
      <div class="pr-24 relative mt-3  h-32 mobile:pr-0"> 
        <p class="news-card__date text-base text-primary-dark absolute top-0 right-0 mobile:relative">formattedDate</p>
        <h3 class="news-card__title pc:text-base mobile:text-sm text-primary-black max-w-[400px] group-hover:text-secondary-darker">title</h3>
        <p class="news-card__intro text-base mobile:text-sm mt-1">intro</p>
      </div>
      <a class="news-card__link" href="#"><span class="absolute top-0 left-0 w-full h-full"></span></a>
    </li>
  </template>
</body>
</html>
