<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.desc %>">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/"  rel="canonical" />
</head>

<body class="">
    <%= require('html-loader!./inner-metrika.html').default %>
    <header class="border-b border-primary-white">
        <%=_.template(require('html-loader!./insets/inner-header.html').default)({ROUTES: ROUTES, 'theme': 'transparent', page: 'default'}) %>
    </header>
    <div class="relative">
        <ul class="breadcrumbs-no-padding flex items-center py-10">
            <li class="text-gray-400"><a class="breadcrumbs__link" href="/">Главная</a></li>
            <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="<%= ROUTES.oporyMain %>">Опоры освещения</a></li>
        </ul>
    </div>
  
    <!--new-->
    <main class="content">
        <h1 class="title text-primary-darker">Производство опор освещения</h1>
        <ul class="grid grid-cols-4 gap-5 mt-14 olpc:grid-cols-2 mobile:grid-cols-1">
            <% categoriesPageOpory.map(i => {%>
                <li class="card">
                    <a class="card__link" href="<%= ROUTES[i.type] %>">
                        <h2 class="card__title text-primary-darker"><%= i.title %></h2>
                        <figure class="card__image-cont">
                            <img class="card__image" src="<%= require(`./images/lpopory/${i.type}.png`)%>" alt="силовая фланцевая граненая опора сфг">
                        </figure>
                        <!--<svg  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>-->    
                        <svg class="card__svg fill-primary-accent" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
                        </svg>                  
                    </a>
                </li>
            <% }) %>
        </ul>
        <section class="flex flex-wrap justify-between items-start mt-24 gap-5 mx-auto olpc:flex-col olpc:*:basis-auto">
            <h2 class="basis-auto up-title font-bold text-primary-darker up-title_svg">О нас</h2>
            <p class="basis-3/4 max-w-full text-4xl font-semibold uppercase text-primary-darker leading-[1.1] laptop:text-2xl">
                Cтанкостальконструкция - компания по изготовлению многогранных опор освещения, опор лэп, граненых опор контактных сетей электрифицированного транспорта.
            </p>
            <ul class="basis-1/2 w-full olpc:w-1/2 mobile:w-full ml-auto mt-7 text-lg leading-tight text-primary-darker ">
                <li class="max-w-[444px] mobile:max-w-full ">
                    Для изготовления продукции используется качественное сертифицированное сырье, толщина металла – от 4 до 12 мм. Цена на металлические опоры наружного освещения, предложенная нашей компанией - наиболее выгодная в своем сегменте рынка.
                </li>
                <li class="max-w-[444px] mobile:max-w-full mt-3">
                    Наша компания изготавливает многогранные опоры освещения, Уточнить стоимость и вариант доставки можно, позвонив по номерам телефонов, указанным на сайте, или заполнив форму обратной связи.
                </li>
                <li class="max-w-[444px] mobile:max-w-full mt-3">
                    У нас есть собственный автопарк для доставки, в том числе железнодорожный тупик.
                </li>
            </ul>
            <figure class="mt-12 basis-full">
                <img class="hue-rotate-15 w-full mobile:h-[50vh] mobile:object-cover mobile:object-left" src="<%= require('./images/lpopory-cover-new.jpg')%>" alt="производство опор освещения"> 
            </figure>
        </section>
        <section class="mt-32 mb-14">
            <h2 class="basis-auto up-title font-bold text-primary-darker up-title_svg">Как мы работаем</h2>
            <ul class="grid grid-cols-4 gap-5 mt-14 olpc:grid-cols-2 mobile:grid-cols-1">
                <li class="card card_how-we-work ">
                    <h3 class="uppercase text-xl text-primary-darker font-bold">Материалы</h3>
                    <p class="basis-28 card__text text-primary-darker">Проверенные марки и производители стали. Исследуем металл в нашей лаборатории на соответствие заданной марки</p>
                    <span class="card__number mt-auto">01</span>
                </li>
                <li class="card card_how-we-work ">
                    <h3 class="uppercase text-xl text-primary-darker font-bold">Срок изготовления</h3>
                    <p class="basis-28 card__text text-primary-darker">Основные позиции всегда в наличии (опоры ОКГ, СФГ высотой 8, 9, 10 метров). Срок изготовления под заказ - 3 недели</p>
                    <span class="card__number mt-auto">02</span>
                </li>
                <li class="card card_how-we-work ">
                    <h3 class="uppercase text-xl text-primary-darker font-bold">География работы</h3>
                    <p class="basis-28 card__text text-primary-darker">Работаем во всей России</p>
                    <span class="card__number mt-auto">03</span>
                </li>
                <li class="card card_how-we-work ">
                    <h3 class="uppercase text-xl text-primary-darker font-bold">Оперативный расчёт</h3>
                    <p class="basis-28 card__text text-primary-darker">Менеджер рассчитает стоимость опор и предоставит коммерческое предложение в течение 1-2 дней исходя из объема заказа</p>
                    <span class="card__number mt-auto">04</span>
                </li>
            </ul>
            <div class="flex gap-5 items-start justify-between mt-5">
                <div class="card gap-2 card_how-we-work card_big basis-[calc(50%-10px)]">
                    <div class="basis-[calc(50%+10px)] flex flex-col">
                        <h3 class="uppercase text-xl text-primary-darker font-bold">Продукция сертифицирована</h3>
                        <p class="basis-auto card__text card__text_big text-primary-darker">Вся продукция прошла сертификацию.</p>
                        <span class="card__number mt-auto">05</span>
                    </div>
                    <ul class="basis-1/2 sert-grid sert-grid_lpopory">
                        <li class="sert-grid__list-item sert-grid__list-item_lpopory overflow-hidden <%= popupImageClass %>">
                            <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-opory-1.png')%>" alt="Сертификат на производство опор освещения">
                        </li>
                        <li class="sert-grid__list-item sert-grid__list-item_lpopory overflow-hidden <%= popupImageClass %>">
                            <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-opory-2.png')%>" alt="Сертификат на производство опор освещения, страница 2">
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <%= _.template(require('html-loader!./insets/form-section-test.html').default)({title: false}) %>
    
    <!--
    <section class="py-4 my-32 content olpc:px-2">
        <span class=" up-title_svg w-full up-title text-primary-darker mb-4">Цикл производства</span>
        <h2 class="section-title font-semibold normal-case text-primary-darker">Производство опор ГОСТ 32947-2014</h2>
        <div class=" flex justify-end items-center mt-12 items-start mobile:flex-col">
            <div class="basis-1/3 mx-auto grid grid-cols-3 grid-rows-3 gap-2  mobile:mr-0">
                <figure class="hov-icon shading overflow-hidden rounded-sm border border-primary">
                    <img class="w-full h-full object-cover object-center" src="<%= require(`./images/cycle/1.png`) %>" alt="Заготовка, вырезанная на плазменной резке поступает на листогибочный пресс">
                </figure>
                <figure class="hov-icon shading overflow-hidden rounded-sm border border-primary">
                    <img class="w-full h-full object-cover object-center" src="<%= require(`./images/cycle/2.png`) %>" alt="Происходит процесс формирования граней опоры освещения">
                </figure>
                <figure class="hov-icon shading overflow-hidden rounded-sm border border-primary">
                    <img class="w-full h-full object-cover object-center" src="<%= require(`./images/cycle/3.png`) %>" alt="Сформирована коническая многогранная форма опоры">
                </figure>
                <figure class="hov-icon shading overflow-hidden rounded-sm border border-primary">
                    <img class="w-full h-full object-cover object-center" src="<%= require(`./images/cycle/4.png`) %>" alt="Данное изделие переходит на сварочный участок">
                </figure>
                <figure class="hov-icon shading overflow-hidden rounded-sm border border-primary">
                    <img class="w-full h-full object-cover object-center" src="<%= require(`./images/cycle/5.png`) %>" alt="После сварки гранёная опора проходит процедуру выправки и горячего цинкования">
                </figure>
                <div class="col-span-3 self-end relative before:absolute before:w-1/4 before:h-[1px] before:bg-primary-lighterdouble before:left-0 before:top-[0.87rem]">
                    <p class="hov-desc text-xl indent-[33%] mobile:text-base">Изготовление опоры на гидравлическом тандемном прессе</p>
                </div>
            </div>
            <div class="basis-1/2 ml-2 shrink-0">
                <figure class="w-full pt-[100%] relative shading shading_static corner-cropped">
                    <img class="target-hov-img absolute w-full h-full top-0 left-0" src="<%= require('./images/cycle/1.png') %>" alt="Заготовка опоры, вырезанная на плазменной резке поступает на листогибочный пресс">
                </figure>
            </div>
        </div>
    </section>
    -->
 
    
    
   

    <!--POPUPS-->
    <%= require('html-loader!./insets/popups/popupImage.html').default %>
    <!--FOOTER-->
    <%= _.template(require('html-loader!./insets/inner-footer.html').default)({ROUTES: ROUTES}) %>
</body>
</html>
