<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/"  rel="canonical" />
</head>

<body class="page bg-themewhite">
  <%= require('html-loader!./inner-metrika.html').default %>
  <header class="border-b border-primary-lighterdouble">
    <%=_.template(require('html-loader!./insets/inner-header.html').default)({ROUTES: ROUTES, 'theme': 'transparent', page: 'default'}) %>
  </header>
  <div class="relative flex ">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="/">Главная</a></li>
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/">Высокомачтовые опоры</a></li>
    </ul>
  </div>

  <!--new-->

  <div class="content">
    <div class="py-[78px]">
      <h1 class="text-[70px] uppercase text-center text-primary-darker font-bold max-w-[780px] mx-auto mobile:text-4xl">Высокомачтовые опоры</h1>
      <p class="mx-auto max-w-[836px] text-center text-xl mt-6">Общепринятые обозначения: мачты ВМО, мачты ВМОН</p>
    </div>
  </div>

  <!--   -->
  <main class="product-container">
    <div class="content flex py-10 justify-between mobile:flex-col mobile:*:basis-auto">
      <div class="shrink-0 basis-auto relative">
          <img src="<%= require(`./images/machta-korona-stat.png`)%>" alt="опора освещения">
         
      </div>
      <div class="basis-3/4 flex flex-col pb-10">
        <p class="text-2xl max-w-[66%] text-primary-darker">
          Мы изготавливаем многогранные мачты освещения. Изготавливаются составные части мачты, каждая из которых проходит
          горячее цинкование.Высокомачтовые опоры можно разделить на две категории.
        </p>
        <ul class="text-xl max-w-[66%] mt-10 mb-14 text-primary-darker">
          <li>
            <h3 class="font-bold uppercase mb-2">Высокомачтовые опоры с мобильной короной</h3>
            <p>Корона мачты имеет возможность динамически опускаться и подниматься для проведения ремонтных и сервисных работ.</p>
          </li>
          <li class="mt-5">
            <h3 class="font-bold uppercase mb-2">Высокомачтовые опоры со стационарной короной</h3>
            <p>В такой конфигурации корона статична и для проведения ремонтных и сервисных работ необходимо подниматься на нее по лестнице.</p>
          </li>
        </ul>
        <h2 class="section-title my-8 text-primary-darker">Как изготавливаются мачты</h2>
        <div class="grid grid-cols-3 gap-5 mvpc:grid-cols-2 mobile:grid-cols-1">
          <% [1,2,3,4,5].map((i) => { %>
            <figure class="<%= popupImageClass %> cursor-pointer relative after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-primary after:transition-all after:bg-opacity-25 after:z-[1] hover:after:bg-opacity-40">
              <img class="w-full h-full object-cover object-center" src="<%= require(`./images/vmo/${i}.png`)%>" alt="">
            </figure>
          <% }) %>
          <a class="self-end uppercase text-base font-bold text-primary-darker bem__link bem__link_newwindow" href="<%= ROUTES.about %>">Подробнее о производстве</a>
        </div>
        <button class="ui-button <%= ctaButtonClass %> mt-auto transition-all duration-300 hover:bg-primary-white">Запросить КП на высокомачтовые опоры</button>

      </div>
    </div>

   
    <section class="relative bg-primary-darker">
      <figure class="absolute top-0 left-0">
        <img src="<%= require('./images/svg/dec-left-top-white-old.svg')%>" alt="Декор">
      </figure>
      <div class="content flex pt-36 mb-24 laptop:flex-col laptop:*:basis-auto laptop:px-10">
        <h2 class="basis-1/4 up-title text-themewhite text-base mb-8">Наши преимущества</h2>
        <div class="basis-3/4 ">
          <h3 class="section-title">Как мы работаем?</h3>
          <ul class="grid grid-cols-3 gap-x-5 gap-y-20 text-themewhite mobile:grid-cols-2 ">
            <li class="flex flex-col justify-between min-h-32 rounded-sm">
              <h3 class="text-2xl font-bold max-w-xs">Выгодные условия для дилеров</h3>
              <p class="text-lg">Гибкая система % скидок</p>
            </li>
            <li class="flex flex-col justify-between min-h-32 rounded-sm">
              <h3 class="text-2xl font-bold max-w-xs">Предоставим КП на изготовление</h3>
              <p class="text-lg">В течение 1-2 дней</p>
            </li>
            <li class="flex flex-col justify-between min-h-32 rounded-sm">
              <h3 class="text-2xl font-bold max-w-xs">Срок изготовления</h3>
              <p class="text-lg">Опоры в наличии и под заказ</p>
            </li>
            <li class="flex flex-col justify-between min-h-32 rounded-sm">
              <h3 class="text-2xl font-bold max-w-xs">Цена завода</h3>
              <p class="text-lg">Мы - производитель и рады работать напрямую с заказчиками и дилерами</p>
            </li>
            <li class="flex flex-col justify-between min-h-32 rounded-sm">
              <h3 class="text-2xl font-bold max-w-xs">Изготовление по ГОСТ</h3>
              <p class="text-lg">Без экономии на материалах с точным расчётом опоры под Ваши потребности</p>
            </li>
          </ul>
        </div>
        
      </div>
      <div class="content flex pb-32  laptop:flex-col laptop:*:basis-auto laptop:px-10">
        <h2 class="basis-1/4 up-title text-themewhite text-base mb-8">Сертификаты</h2>
        <ul class="basis-3/4 grid grid-cols-3 gap-x-5 gap-y-6 text-themewhite  mobile:grid-cols-2">
          <li class="min-h-32 rounded-sm relative block <%= popupImageClass %> cursor-pointer after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-primary after:transition-all after:bg-opacity-25 after:z-[1] hover:after:bg-opacity-40">
            <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-vmo.png')%>" alt="Сертификат на производство высокомачтовых опор освещения">
          </li>
          <li class="min-h-32 rounded-sm relative <%= popupImageClass %> cursor-pointer after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-primary after:transition-all after:bg-opacity-25 after:z-[1] hover:after:bg-opacity-40">
            <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-opory-1.png')%>" alt="Сертификат на производство опор освещения">
          </li>
          <li class="min-h-32 rounded-sm relative <%= popupImageClass %> cursor-pointer after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-primary after:transition-all after:bg-opacity-25 after:z-[1] hover:after:bg-opacity-40">
            <img class="w-full h-full object-cover object-top" src="<%= require('./images/sert-opory-2.png')%>" alt="Сертификат на производство опор освещения, страница 2">
          </li>
        </ul>
      </div>
    </section>
    <%= _.template(require('html-loader!./insets/form-section.html').default)({title: false}) %>
  </main>
  <!--POPUPS-->
  <%= require('html-loader!./insets/popups/popupImage.html').default %>
  <!--FOOTER-->
  <%= _.template(require('html-loader!./insets/inner-footer.html').default)({ROUTES: ROUTES}) %>
</body>
</html>
