<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>"  rel="canonical" />
</head>

<body class="page bg-themewhite">
  <%= require('html-loader!./inner-metrika.html').default %>
  <header class="border-b border-primary-lighterdouble">
    <%=_.template(require('html-loader!./insets/inner-header.html').default)({ROUTES: ROUTES, 'theme': 'transparent', page: 'default'}) %>
  </header>
  <div class="relative flex ">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link">Главная</a></li>
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link">Опора МСО-ФГ-4</a></li>
    </ul>
  </div>
  <main class="">
      <div class="content">
        <div class="flex w-full bg-themewhite py-10 mobile:flex-col mobile:*:basis-auto">
          <div class="basis-1/4 mobile:h-3/6 overflow-hidden">
            <img class="w-full" src="<%= require('./images/opora-page-product.png')%>" alt="опора освещения"> 
          </div>
          <div class="basis-3/4 mobile:mt-10">
            <h1 class="text-primary-darker font-bold text-5xl uppercase max-w-[906px] mobile:text-3xl"><%= htmlWebpackPlugin.options.title %></h1>
            <p class="my-8 text-xl max-w-2xl"><%= desc %></p>
            <ul class="max-w-[445px] mt-20 text-2xl w-full *:mb-5 *:border-b *:border-dotted *:border-primary-darker *:w-full *:flex *:justify-between">
              <li><h3 class="bg-themewhite relative top-2">Высота</h3> <span class="bg-themewhite relative top-2"><%= Number(oporaData['H'])/1000 %> метров</span></li>
              <% if (type === 'силовая') {%>
                <li><h3 class="bg-themewhite relative top-2">Максимальная нагрузка</h3>   <span class="bg-themewhite relative top-2"><%= Number(oporaData['P'])/100 %> kH (<%= oporaData['P'] %> кг)</span></li>
              <% } %>
              <li><h3 class="bg-themewhite relative top-2">Тип опоры</h3>  <span class="bg-themewhite relative top-2"><%= type %></span></li>
              <li><h3 class="bg-themewhite relative top-2">Диаметр верхний</h3> <span class="bg-themewhite relative top-2"><%= oporaData['Db'] %></span></li>
              <li><h3 class="bg-themewhite relative top-2">Диаметр нижний</h3> <span class="bg-themewhite relative top-2"><%= oporaData['Dh']%></span></li>
              <li><h3 class="bg-themewhite relative top-2">Возможность подвески СИП</h3> <span class="bg-themewhite relative top-2"><%= type === 'силовая' ? 'да' : 'нет' %></span></li>
            </ul>
            <button class="text-xl mt-16 mb-4 text-primary-darker border-2 border-primary-darker uppercase p-5 text-center w-1/2 mobile:w-full transition-all duration-300 hover:bg-primary-white" href="/about/">Оставить заявку на опору</button>
            <div class="mt-20">
              <h2 class="text-2xl font-bold text-primary-darker">Дополнительные характеристики</h2>
              <ul class="max-w-[445px] mt-7 text-xl w-full *:mb-5 *:pb-5 *:border-b *:border-primary-white *:w-full *:flex *:justify-between">
                <li>Размер фланца: <span><%= oporaData['A']%>мм</span></li>
                <li>Межцентровое расстояние: <span><%= oporaData['B']%> мм</span></li>
                <li>Количество отверстий: <span><%= oporaData['n']%> шт</span></li>
                <li>Диаметр отверстий: <span><%= oporaData['d']%></span></li>
                <li>Возможность покраски: <span>да</span></li>
                <li>Покрытие: <span>горячее цинкование</span></li>
                <li>Срок службы: <span>25-30 лет</span></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <section class="relative bg-primary-darker">
      <figure class="absolute top-0 left-0">
        <img src="<%= require('./images/svg/dec-left-top-white.svg')%>" alt="Декор">
      </figure>
      <div class="content py-12 mobile:pt-40">
        <div class="w-3/4 ml-auto mobile:w-full">
        <h2 class="text-primary-white font-bold text-4xl">Документация и чертеж</h2>
        <div class="flex mt-16 mobile:flex-col-reverse mobile:*:basis-auto">
          <img class="basis-[444px] min-w-0 w-full" src="<%= require('./images/test-drawing.png')%>" alt="Чертёж опоры сфг">
          <div class="flex flex-col justify-between ml-5 max-w-[600px] mobile:ml-0">
            <div class="text-themewhite text-xl">
              <p>
                Металлическая силовая опора фланцевая граненая. Максимальная допустимая боковая статическая нагрузка 4 kH (409 кг).
              </p>
              <h4 class="font-bold mt-20 mb-3">Опоры изготавливаются в различных модификациях:</h4>
              <ul>
                <li>8, 9 или 10 метров (высота над поверхностью земли)</li>
                <li>подводом к верхней части опоры или внутренним подводом с обслуживанием через боковой лючок в нижней части опоры</li>
              </ul>
            </div>
            <div class="flex mobile:mt-10 mobile:mb-4">
              <a class="mt-4 mr-4 text-themewhite border-2 border-themewhite uppercase p-5 w-1/2 text-center w-full" href="/about/">Скачать чертёж</a>
              <a class="mt-4 text-themewhite  uppercase p-5 w-1/2 text-center w-full" href="/about/">Нужна консультация</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>
    <%= _.template(require('html-loader!./insets/form-section.html').default)({title: false}) %>
  </main>

  <!--FOOTER-->
  <%= _.template(require('html-loader!./insets/inner-footer.html').default)({ROUTES: ROUTES}) %>
</body>
</html>
