<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/"  rel="canonical" />
</head>

<body class="page">
    <%= require('html-loader!./inner-metrika.html').default %>
    <header class="border-b border-primary-lighterdouble">
        <%=_.template(require('html-loader!./insets/inner-header.html').default)({ROUTES: ROUTES, contacts: contactsData, 'theme': 'transparent', page: 'default'}) %>
    </header>
    <div class="relative flex ">
        <ul class="breadcrumbs flex items-center p-10">
            <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="/">Главная</a></li>
            <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="<%= ROUTES.oporyMain %>">Опоры освещения</a></li>
        </ul>
    </div>
    <main class="content">
        <h1 class="title">Каталог опор освещения</h1>
    <!--new-->
        <section class="mt-14 ">
            <div class="flex justify-between items-start gap-5 mobile:flex-col mobile:*:basis-auto">
                <div class="card card__link card_catalog relative">
                    <h2 class="card__title uppercase text-primary-darker">Опоры сфг</h2>
                    <a class="" href="<%= ROUTES.sfg %>">
                        <span class="absolute inset0"></span>
                        <figure class="card__image-cont">
                            <img class="card__image" src="<%= require(`./images/lpopory/sfg.png`)%>" alt="силовая фланцевая граненая опора сфг">
                        </figure>
                        <svg class="card__svg stroke-primary-darker" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>                      
                    </a>
                </div>
                <ul class="basis-3/4 grid grid-cols-3 relative z-[1] gap-x-5 gap-y-5 laptop:grid-cols-2  mobile:grid-cols-1">
                    <% tableData.filter(i=> i.type === 'sfg').map((oporaData) => { %>
                        <li class="relative p-[30px] bg-[#f4faff] rounded-lg border border-primary-strokke transition-all duration-300 hover:bg-primary-white group">
                            <h3 class="basis-full max-w-[420px] text-xl text-primary-black mb-12"><span class="whitespace-nowrap font-bold"><%= oporaData["name"] %></span></h3>
                            <ul class="text-primary-darker">
                                <li class="flex items-end">
                                    <h4 class="text-lg flex basis-full"><span class="whitespace-nowrap">Высота опоры:</span> <span class="border-b border-dotted block border-primary-lighterdouble basis-full"></span></h4>
                                    <p class="text-lg font-bold basis-auto whitespace-nowrap"><%= Number(oporaData['H'])/1000 %> метров</p>
                                </li>
                                <li class="flex items-end">
                                    <h4 class="text-lg flex basis-full"><span class="whitespace-nowrap">Боковая нагрузка:</span> <span class="border-b border-dotted block border-primary-lighterdouble basis-full"></span></h4>
                                    <p class="text-lg basis-auto whitespace-nowrap"><%= oporaData['P'] %> кг</p>
                                </li>
                            </ul>
                            <a href="<%= `/catalog/opory-sfg/sfg-${oporaData['P']}-${Number(oporaData['H'])/1000}-${oporaData['Db']}.html` %>">
                                <span class="absolute top-0 left-0 w-full h-full"></span>
                            </a>
                            <!--<svg class=" absolute top-5 right-3 w-6 h-6 fill-primary-lighter group-hover:fill-primary-darker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" >
                                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
                            </svg>-->
                        </li>
                    <% }); %>
                </ul>
            </div>
        </section>
        <section class="mt-14 ">
            <div class="flex justify-between items-start gap-5 mobile:flex-col mobile:*:basis-auto">
                <div class="card card__link card_catalog relative">
                    <h2 class="card__title uppercase text-primary-darker">Опоры МСО-ФГ</h2>
                    <a class="" href="<%= ROUTES.sfg %>">
                        <span class="absolute inset0"></span>
                        <figure class="card__image-cont">
                            <img class="card__image" src="<%= require(`./images/lpopory/sfg.png`)%>" alt="силовая фланцевая граненая опора сфг">
                        </figure>
                        <svg class="card__svg stroke-primary-darker" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>                      
                    </a>
                </div>
                <ul class="basis-3/4 grid grid-cols-3 relative z-[1] gap-x-5 gap-y-5 laptop:grid-cols-2  mobile:grid-cols-1">
                    <% tableData.filter(i=> i.type === 'sfg').map((oporaData) => { %>
                        <li class="relative p-[30px] bg-[#f4faff] rounded-lg border border-primary-strokke transition-all duration-300 hover:bg-primary-white group">
                            <h3 class="basis-full max-w-[420px] text-xl text-primary-black mb-12"><span class="whitespace-nowrap font-bold"><%= `Опора МСО-ФГ-${Number(oporaData['P'])/100}-${Number(oporaData['H'])/1000}` %></span></h3>
                            <ul class="text-primary-darker">
                                <li class="flex items-end">
                                    <h4 class="text-lg flex basis-full"><span class="whitespace-nowrap">Высота опоры:</span> <span class="border-b border-dotted block border-primary-lighterdouble basis-full"></span></h4>
                                    <p class="text-lg font-bold basis-auto whitespace-nowrap"><%= Number(oporaData['H'])/1000 %> метров</p>
                                </li>
                                <li class="flex items-end">
                                    <h4 class="text-lg flex basis-full"><span class="whitespace-nowrap">Боковая нагрузка:</span> <span class="border-b border-dotted block border-primary-lighterdouble basis-full"></span></h4>
                                    <p class="text-lg basis-auto whitespace-nowrap"><%= oporaData['P'] %> кг</p>
                                </li>
                            </ul>
                            <a href="<%= `/catalog/opory-sfg/sfg-${oporaData['P']}-${Number(oporaData['H'])/1000}-${oporaData['Db']}.html` %>">
                                <span class="absolute top-0 left-0 w-full h-full"></span>
                            </a>
                            <!--<svg class=" absolute top-5 right-3 w-6 h-6 fill-primary-lighter group-hover:fill-primary-darker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" >
                                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
                            </svg>-->
                        </li>
                    <% }); %>
                </ul>
            </div>
        </section>
        <section class="mt-14 ">
            <div class="flex justify-between items-start gap-5 mobile:flex-col mobile:*:basis-auto">
                <div class="card card__link card_catalog relative">
                    <h2 class="card__title uppercase text-primary-darker">Опоры нфг</h2>
                    <a class="" href="<%= ROUTES.nfg %>">
                        <span class="absolute inset0"></span>
                        <figure class="card__image-cont">
                            <img class="card__image" src="<%= require(`./images/lpopory/nfg.png`)%>" alt="силовая фланцевая граненая опора сфг">
                        </figure>
                        <svg class="card__svg stroke-primary-darker" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>                      
                    </a>
                </div>
                <ul class="basis-3/4 grid grid-cols-3 relative z-[1] gap-x-5 gap-y-5 laptop:grid-cols-2  mobile:grid-cols-1">
                    <% tableData.filter(i=> i.type === 'nfg').map((oporaData) => { %>
                        <li class="relative p-[30px] bg-[#f4faff] rounded-lg border border-primary-strokke transition-all duration-300 hover:bg-primary-white group">
                            <h3 class="basis-full max-w-[420px] text-xl text-primary-black mb-12"><span class="whitespace-nowrap font-bold"><%= oporaData["name"] %></span></h3>
                            <ul class="text-primary-darker">
                                <li class="flex items-end">
                                    <h4 class="text-lg flex basis-full"><span class="whitespace-nowrap">Высота опоры:</span> <span class="border-b border-dotted block border-primary-lighterdouble basis-full"></span></h4>
                                    <p class="text-lg font-bold basis-auto whitespace-nowrap"><%= Number(oporaData['H'])/1000 %> метров</p>
                                </li>
                            
                            </ul>
                            <a href="<%= categories.filter(i=>i.type==='nfg')[0].pathGenerator(oporaData['P'], oporaData['H'], oporaData['Db']) %>">
                        
                                <span class="absolute top-0 left-0 w-full h-full"></span>
                            </a>
                            <!--<svg class=" absolute top-5 right-3 w-6 h-6 fill-primary-lighter group-hover:fill-primary-darker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" >
                                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z" clip-rule="evenodd" />
                            </svg>-->
                        </li>
                    <% }); %>
                </ul>
            </div>
        </section>
       
        <section class="my-14">
            <h2 class="text-3xl font-semibold uppercase text-primary-darker mb-8">Смотрите также</h2>
            <ul class="grid grid-cols-4 gap-5 ">
                <li class="card">
                    <a class="card__link" href="<%= ROUTES.spg %>">
                        <h2 class="card__title text-primary-darker">Опоры силовые прямостоечные граненые</h2>
                        <figure class="card__image-cont">
                            <img class="card__image" src="<%= require(`./images/lpopory/spg.png`)%>" alt="силовая фланцевая граненая опора сфг">
                        </figure>
                        <svg class="card__svg stroke-primary-darker" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>                      
                    </a>
                </li>
                <li class="card">
                    <a class="card__link" href="<%= ROUTES.npg %>">
                        <h2 class="card__title text-primary-darker">Опоры несиловые прямостоечные граненые</h2>
                        <figure class="card__image-cont">
                            <img class="card__image" src="<%= require(`./images/lpopory/npg.png`)%>" alt="силовая фланцевая граненая опора сфг">
                        </figure>
                        <svg class="card__svg stroke-primary-darker" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>                      
                    </a>
                </li>
                <li class="card">
                    <a class="card__link" href="<%= ROUTES.machty %>">
                        <h2 class="card__title text-primary-darker">Высокомачтовые опоры</h2>
                        <figure class="card__image-cont">
                            <img class="card__image" src="<%= require('./images/vmo-stat-1.png')%>" alt="силовая фланцевая граненая опора сфг">
                        </figure>
                        <svg class="card__svg stroke-primary-darker" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" >
                            <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>                      
                    </a>
                </li>
            </ul>
        </section>
    
    <!--   -->


  
    
    
  </main>
    <%= _.template(require('html-loader!./insets/form-section-test.html').default)({title: false}) %>
   
    <!--FOOTER-->
    <%= _.template(require('html-loader!./insets/inner-footer.html').default)({ROUTES: ROUTES, contacts: contactsData}) %>
</body>
</html>
