<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>/<%= htmlWebpackPlugin.options.filename.split('/index.html')[0] %>/"  rel="canonical" />
</head>

<body class="page bg-themewhite">
  <%= require('html-loader!./inner-metrika.html').default %>
  <header class="border-b border-primary-lighterdouble">
    <%=_.template(require('html-loader!./insets/inner-header.html').default)({ROUTES: ROUTES, 'theme': 'transparent', page: 'default'}) %>
  </header>
  <div class="relative flex ">
    <ul class="breadcrumbs">
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="/">Главная</a></li>
        <li class="breadcrumbs__list-item"><a class="breadcrumbs__link" href="<%= ROUTES.techDocs %>">Проектировщикам</a></li>
    </ul>
  </div>
  <main class="py-14 content">
    <h1 class="title">Проектировщикам</h1>
    <div class="w-3/4 ml-auto mobile:w-full">
        <!--<h1 class="text-6xl font-bold uppercase text-primary-darker mobile:text-3xl mobilesm:text-2xl">Проектировщикам</h1>-->
        <p class="mt-5 mb-6 max-w-[57%] text-primary-darker text-lg">Опоры металлические для стационарного наружного электрического освещения и подвески кабелей электрической сети наружного освещения</p>
        <div class="flex items-end h-auto">
            <img class="min-w-0 basis-[calc(66%-80px)] object-left-top object-cover mr-5 mobile:basis-4/6 mobile:mr-1" src="<%= require('./images/machta-tech.png')%>" alt="мачта со стационарной короной">
            <img class="h-60 min-w-0 basis-[calc(43%-10px)] object-left-top object-cover mobile:basis-2/6 mobile:h-28" src="<%= require('./images/about-view-test.png')%>"  alt="сск">
        </div>
    </div>
    <h2 class="up-title up-title_svg relative mt-20 mb-8 w-1/2 mx-auto mobile:text-xl mobile:w-full">Документы для проектировщиков</h2>
    <ul class="mt-5  w-1/2 mx-auto mb-40">
      <li>
        <a href="<%= ROUTES.oprosniiFile %>" class="link-beauty flex w-full text-xl justify-between border-b border-primary-darker pt-7 pb-4" download>
            Опросный лист для подбора опоры освещения
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>
        </a>
    </li>
      <li>
          <a href="<%= ROUTES.stoFile %>" class="link-beauty flex w-full text-xl justify-between border-b border-primary-darker pt-7 pb-4" download>
              СТО для проектных организаций
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
              </svg>
          </a>
      </li>
  </ul>
  </main>
  
  <!--FOOTER-->
  <%= _.template(require('html-loader!./insets/inner-footer.html').default)({ROUTES: ROUTES}) %>
</body>
</html>
